@import '../../variables.scss';
@import "../../mixins.scss";

$boarding-size: map_get($base-breakpoints, 'small') / 2;
$boarding-image-max-size: $boarding-size * 2 / 3;

:host {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  @include setup-max-width();
  @include setup-default-padding();
  justify-content: space-between;

  carousel {
    margin-top: auto;
    margin-bottom: auto;

    carousel-slide {
      display: block;

      .card {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: $boarding-size - 2 * map_get($base-padding, 'smaller');
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: map_get($base-padding, 'smaller');

        .image {
          width: 100%;
          max-width: $boarding-image-max-size;
          flex: 0 0 auto;

          &:after {
            content: '';
            width: 100%;
            display: block;
            padding-bottom: 100%;
            background: no-repeat center;
            background-size: contain;
          }
        }

        h1 {
          margin-top: map_get($base-padding, 'smaller');
        }

        span {
          hyphens: auto;
          display: block;
          line-height: map_get($base-line-height, 'multiline');
          color: map_get($base-colors, 'primary-text');
        }

        small {
          color: map_get($base-colors, 'secondary-text');
        }

        styled-button {
          margin-top: map_get($base-padding, 'default');

          &:last-of-type:not(:first-of-type) {
            margin-top: 0;
          }
        }
      }

      &:nth-child(1) .card .image:after {
        background-image: url(../../../../assets/illustrations/welcome.png);
      }

      &:nth-child(2) .card .image:after {
        background-image: url(../../../../assets/illustrations/explore-rudel.png);
      }

      &:nth-child(3) .card .image:after {
        background-image: url(../../../../assets/illustrations/create-expeditions.png);
      }

      &:nth-child(4) .card .image:after {
        background-image: url(../../../../assets/illustrations/get-out.png);
      }

      &:nth-child(5) .card .image:after {
        background-image: url(../../../../assets/illustrations/grant-permission.png);
      }
    }
  }

  footer {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: map_get($base-padding, 'smaller');

    styled-button {
      margin: 0;
      position: relative;
      flex: 0 0 auto;
      z-index: 2;

      &.done,
      &.next {
        margin-left: auto;
      }

      &.back {
        margin-right: auto;
      }
    }

    indicator {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
  }
}
