<carousel #carousel (index)="setCarouselIndex($event)">
    <carousel-slide>
        <div class="card" [@fadeIn]="true">
            <div class="image"></div>
            <h1 i18n>Wilkommen auf rudl</h1>
            <span i18n>Cool, dass du dich für unser Projekt interessierst! Du bist nun Teil einer wachsenden Rudl-Community, in denen du interessante Aktivitäten und Personen finden wirst!</span>
        </div>
    </carousel-slide>
    <carousel-slide>
        <div class="card">
            <div class="image"></div>
            <h1>Finde Rudel</h1>
            <span>Rudl empfiehlt dir Rudel (Interessen) in deiner Nähe und bringt dich mit ähnlichen Menschen zusammen.</span>
        </div>
    </carousel-slide>
    <carousel-slide>
        <div class="card">
            <div class="image"></div>
            <h1>Erstelle Events</h1>
            <span>In jedem Rudel kannst du Streifzüge erstellen oder beitreten. Die nächste Grillparty, Happening oder ein spontanes Event in deiner Nachbarschaft.</span>
        </div>
    </carousel-slide>
    <carousel-slide>
        <div class="card">
            <div class="image"></div>
            <h1>Treffe Menschen</h1>
            <span>Bald wird dir Rudl auch ähnliche Menschen mit deinen Interessen empfehlen können.</span>
        </div>
    </carousel-slide>
    <carousel-slide>
        <div class="card">
            <div class="image"></div>
            <h1>Berechtigungen geben</h1>
            <span *ngIf="permissionStatus == 'denied'">Seems like you denied the permission, please check your browser settings to enable location sharing!</span>
            <span *ngIf="permissionStatus != 'denied'"><!--In order to show you all relevant rudels and events near you, rudl needs to access your location.-->Um dir Rudel in deiner Nähe anzuzeigen und die App nutzen zu können, muss dein Standort abgerufen werden.</span>
            <styled-button *ngIf="permissionStatus != 'denied'" [style]="ButtonStyles.filled"
                    [text]="permissionStatus == 'granted' ? 'Thank you!' : (permissionStatus == 'granting' ? 'Please wait...' : 'Grant Permission')"
                    [disabled]="permissionStatus != 'ungranted'" (click)="grantPermission()"></styled-button>
            <styled-button *ngIf="permissionStatus == 'denied'" [style]="ButtonStyles.filledInverse" [text]="'Get help'"
                    (click)="openHelpTopic()"></styled-button>
        </div>
    </carousel-slide>
</carousel>
<footer>
    <styled-button class="back" *ngIf="carouselIndex > 0" [style]="ButtonStyles.filled" [text]="'Go back'"
            (click)="carousel.back()"></styled-button>
    <styled-button class="next" *ngIf="carouselIndex < 5 - 1" [style]="ButtonStyles.filled"
            [text]="'Continue'" (click)="carousel.next()"></styled-button>
    <styled-button class="done" *ngIf="carouselIndex == 5 - 1" [disabled]="permissionStatus != 'granted'"
            [style]="ButtonStyles.filled" [text]="'Finish'" (click)="finishBoarding()"></styled-button>
    <indicator [steps]="5" [selectedStep]="carouselIndex"></indicator>
</footer>
