@import '../../variables.scss';
@import "../../mixins.scss";

:host {
  display: block;

  expedition-item {
    styled-button {
      margin-bottom: 0;
    }

    dropdown-menu {
      top: 100%;
      right: 0;
    }
  }

  .info-box {
    display: flex;
    align-items: center;
    margin: map_get($base-padding, 'smaller') auto;
    max-width: map_get($base-max-width, 'small');

    div {
      margin-left: map_get($base-padding, 'default');
      display: flex;
      flex-direction: column;
    }

    emoji {
      flex: 0 0 auto;
    }
  }
}
