@import '../../variables';

:host {
  display: block;
  @include setup-max-width();
  padding: map_get($base-padding, 'default');

  stack {
    margin: 0 auto map_get($base-padding, 'large');
    max-width: 50rem;
  }
}
