<ng-container *ngIf="suggestedRudel && suggestedRudel.length > 0; else loadingSuggestedRudel">
    <h1>Empfohlende Rudel</h1>
    <item-wrapper [horizontal]="true">
        <rudel-item [style]="rudelItemStyle" *ngFor="let suggestedRudelItem of suggestedRudel" [rudel]="suggestedRudelItem">
            <styled-button [style]="rudelItemButtonStyle" [icon]="'more_vert'" (click)="suggestedRudelItemDropdown.toggle()"></styled-button>
            <dropdown-menu #suggestedRudelItemDropdown [arrowAlignment]="'right'">
                <menu-item [icon]="'check'" [title]="'Beitreten'"></menu-item>
                <menu-item [icon]="'visibility_off'" [title]="'Verbergen'"></menu-item>
            </dropdown-menu>
        </rudel-item>
    </item-wrapper>
</ng-container>

<ng-template #loadingSuggestedRudel>
    <loading *ngIf="suggestedRudel == null"></loading>
</ng-template>

<ng-container *ngIf="popularRudel && popularRudel.length > 0; else loadingPopularRudel">
    <h1>Beliebte Rudel</h1>
    <item-wrapper [horizontal]="true">
        <rudel-item [style]="rudelItemStyle" *ngFor="let popularRudelItem of popularRudel" [rudel]="popularRudelItem">
            <styled-button [style]="rudelItemButtonStyle" [icon]="'more_vert'" (click)="popularRudelItemDropdown.toggle()"></styled-button>
            <dropdown-menu #popularRudelItemDropdown [arrowAlignment]="'right'">
                <menu-item [icon]="'check'" [title]="'Beitreten'"></menu-item>
                <menu-item [icon]="'visibility_off'" [title]="'Verbergen'"></menu-item>
            </dropdown-menu>
        </rudel-item>
    </item-wrapper>
</ng-container>

<ng-template #loadingPopularRudel>
    <loading *ngIf="popularRudel == null"></loading>
</ng-template>

<ng-container *ngIf="recentRudel && recentRudel.length > 0; else loadingRecentRudel">
    <h1>Neue Rudel</h1>
    <item-wrapper [horizontal]="true">
        <rudel-item [style]="rudelItemStyle" *ngFor="let recentRudelItem of recentRudel" [rudel]="recentRudelItem">
            <styled-button [style]="rudelItemButtonStyle" [icon]="'more_vert'" (click)="recentRudelItemDropdown.toggle()"></styled-button>
            <dropdown-menu #recentRudelItemDropdown [arrowAlignment]="'right'">
                <menu-item [icon]="'check'" [title]="'Beitreten'"></menu-item>
                <menu-item [icon]="'visibility_off'" [title]="'Verbergen'"></menu-item>
            </dropdown-menu>
        </rudel-item>
    </item-wrapper>
</ng-container>

<ng-template #loadingRecentRudel>
    <loading *ngIf="recentRudel == null"></loading>
</ng-template>
