@import '../../variables.scss';
@import "../../mixins.scss";

:host {
  display: block;

  rudel-item {
    styled-button {
      margin-bottom: 0;
    }

    dropdown-menu {
      top: 100%;
      right: 0;
    }
  }
}
