@import '../../variables';

$indicator-colors: (
  'active-background': map_get($base-colors, 'primary'),
  'default-background': inactive(map_get($base-colors, 'primary'))
);

:host {
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    flex: 0 0 auto;
    list-style: none;

    li {
      display: inline-block;
      width: 0.75rem;
      height: 0.75rem;
      margin: 0.25rem;
      background-color: map_get($indicator-colors, 'default-background');
      border-radius: 50%;

      &.active {
        cursor: default;
        background-color: map_get($indicator-colors, 'active-background');
      }
    }

    &.interactive li {
      cursor: pointer;
    }
  }
}
