@import '../../variables';

$loading-size: 2rem;
$loading-animation-speed: 3s;

:host {
  display: flex;
  padding: map_get($base-padding, 'default');
  justify-content: center;
  align-items: center;

  .loading {
    width: $loading-size;
    height: $loading-size;
    border-radius: 50%;
    border: solid $loading-size / 5 map_get($base-colors, 'primary');
    border-top-color: map_get($base-colors, 'secondary');
    animation: loading $loading-animation-speed cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
  }

  @keyframes loading {
    0%{
      transform: rotate(0deg)
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
