@import '../../variables';

$loading-size: 3rem;
$loading-animation-speed: 1s;

:host {
  display: flex;
  padding: map_get($base-padding, 'default');
  justify-content: center;
  align-items: center;

  .loading-pulsar {
    flex: 0 0 auto;
    border-radius: 50%;
    width: $loading-size;
    height: $loading-size;
    opacity: 0;
    transform: scale3d(0, 0, 0);
    animation: $loading-animation-speed pulse linear infinite;
    border: solid map_get($base-line-widths, 'larger') map_get($base-colors, 'primary');
  }

  @keyframes pulse {
    0% {
      transform: scale3d(0, 0, 0);
      opacity: 0;
    }
    50% {
      opacity: 0.75;
    }
    100% {
      transform: scale3d(1, 1, 0);
      opacity: 0;
    }
  }
}
