@import '../../variables';

$tab-menu-font-size: map_get($base-font-size, 'default');

:host {
  padding-right: map_get($base-padding, 'small');
  padding-left: map_get($base-padding, 'small');
  color: inactive(map_get($base-colors, 'primary-text'));
  white-space: nowrap;
  cursor: pointer;
  margin-right: map_get($base-padding, 'small');
  display: flex;
  align-items: center;

  &.active {
    color: map_get($base-colors, 'primary-text');
    cursor: default;
  }

  span {
    display: block;
    flex: 1 1 auto;
    overflow: hidden;
    font-size: $tab-menu-font-size;
    padding-left: map_get($base-padding, 'small');
  }

  i {
    font-size: $tab-menu-font-size;
    transform: scale($base-icon-scale);
  }
}
