@import '../../variables';
@import "../../mixins";

:host {
  display: block;
  @include setup-max-width();
  padding: map_get($base-padding, 'default');

  section {
    padding-top: 0;

    menu {
      padding-top: map_get($base-padding, 'smaller');
      padding-bottom: map_get($base-padding, 'smaller');
      margin-bottom: map_get($base-padding, 'small');

      .coming-soon {
        opacity: 0.25;
      }
    }
  }
}
