@import '../../variables.scss';
@import "../../mixins.scss";

:host {
  display: block;
  @include setup-max-width();
  @include setup-default-padding();

  section {
    padding-top: 0;

    menu {
      padding-top: map_get($base-padding, 'smaller');
      padding-bottom: map_get($base-padding, 'smaller');
      margin-bottom: map_get($base-padding, 'smaller');
    }
  }
}
