@import '../../variables';
@import "../../mixins";

$settings-profile-component-avatar-size: 7.5rem;

:host {
  display: flex;
  flex-direction: row;

  .content {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;

    &.avatar-content {
      align-items: center;
      justify-content: center;

      user-avatar {
        cursor: pointer;
        width: $settings-profile-component-avatar-size;
        height: $settings-profile-component-avatar-size;
        margin-bottom: map_get($base-padding, 'default');
      }

      .error {
        color: map_get($base-colors, 'warning');
        font-size: map_get($base-font-size, 'small');
        margin-bottom: map_get($base-padding, 'small');
      }
    }
  }
}
