<h1 i18n>Einstellungen</h1>
<section class="card">
    <menu>
        <menu-item [makeRoomIfSmall]="true" [icon]="'person_outline'" [title]="'Profil'" [link]="['profile']"></menu-item>
        <menu-item [makeRoomIfSmall]="true" [icon]="'mail_outline'" [title]="'Benachrichtigungen'" [link]="['notifications']"></menu-item>
        <menu-item [makeRoomIfSmall]="true" [icon]="'hourglass_empty'" [title]="'Coming Soon'" class="coming-soon"></menu-item>
    </menu>
    <router-outlet></router-outlet>
</section>
