@import '../../variables.scss';
@import "../../mixins.scss";

$settings-profile-component-avatar-size: 7.5rem;

:host {
  display: flex;
  flex-direction: column;

  styled-button {
    margin-top: map_get($base-padding, 'smaller') - map_get($base-padding, 'small');
  }
}
