@import '../../variables';

:host {
  display: block;

  .card {
    cursor: pointer;
    display: flex;
    width: 100%;
    align-items: center;

    user-avatar {
      cursor: pointer;
      flex: 0 0 auto;
      $size: map_get($base-heading-font-size, 'h2') * map_get($base-line-height, 'default') + map_get($base-padding, 'small') + map_get($base-font-size, 'default') * map_get($base-line-height, 'default') + map_get($base-padding, 'smallest') - map_get($base-padding, 'small') * 2;
      width: $size;
      height: $size;
    }

    .meta {
      flex: 1 1 auto;
      margin-left: map_get($base-padding, 'smaller');

      .name {
        font-family: $base-heading-font-family;
        font-weight: $base-heading-font-weight;
        font-size: map_get($base-heading-font-size, 'h2');
        display: block;

        /deep/ .highlight {
          color: map_get($base-colors, 'primary');
        }
      }

      .relation {
        display: block;
        margin-top: map_get($base-padding, 'smallest');
        color: map_get($base-colors, 'secondary-text');

        a {
          color: map_get($base-colors, 'primary-text');
        }
      }
    }

    .overflow {
      position: relative;
      pointer-events: none;
      display: flex;
      flex-direction: row;

      & /deep/ > * {
        pointer-events: auto;
      }
    }
  }
}
