@import '../../variables';

$swipe-activity-frame-ratio: 100 / 66; // width / height
$swipe-activity-swipe-area-ratio: 100 / 75; // total width|height / stack width|height

:host {
  display: block;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;

  .stack {
    cursor: grab;
    display: block;
    position: relative;
    padding-bottom: 100% / $swipe-activity-frame-ratio;

    &.dragging {
      cursor: grabbing;

      stack-card {
        transition: all 0s;

        .overlay {
          transition: all 0s;

          .progress {
            transition: all 0s;
          }
        }
      }
    }

    stack-card {
      position: absolute;
      width: 100% / $swipe-activity-swipe-area-ratio;
      height: 100% / $swipe-activity-swipe-area-ratio;
      top: 50% - 50% / $swipe-activity-swipe-area-ratio;
      left: 50% - 50% / $swipe-activity-swipe-area-ratio;
      transition: transform 0.5s cubic-bezier(1,0,.46,1), opacity .5s ease-in-out;
      opacity: 1;

      &.done {
        opacity: 0;
        z-index: 10;

        .overlay {
          transition: all 0s;
        }
      }

      /deep/ .card {
        display: flex;
        align-items: center;
        justify-items: center;
        width: 100%;
        height: 100%;
        transition: transform 1s ease-in-out;

        .overlay {
          opacity: 0;
          top: 0;
          left: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          border-radius: 0.25rem;
          justify-content: center;
          align-items: center;
          background-color: rgba(255, 255, 255, 0.77);
          transition: opacity 0.75s;

          .icon {
            border: map_get($base-line-widths, 'larger') solid;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: map_get($base-padding, 'default') * 2;

            .fa {
              position: absolute;
              display: none;
              flex: 0 0 auto;
              font-size: 4rem;
            }

            .like {
              color: map_get($base-colors, 'swipe-like');
            }

            .dislike {
              color: map_get($base-colors, 'swipe-dislike');
            }
          }

          .progress {
            position: absolute;
            bottom: 0;
            height: map_get($base-line-widths, 'default');
            overflow: hidden;
            opacity: 0.5;
            transition: width 1s;

            &.complete {
              opacity: 1;
            }
          }

          &.like {
            .progress {
              background: map_get($base-colors, 'primary');
            }

            .icon {
              border-color: map_get($base-colors, 'primary');

              .like {
                display: block;
              }
            }
          }

          &.dislike {
            .progress {
              background: map_get($base-colors, 'swipe-dislike');
            }

            .icon {
              border-color: map_get($base-colors, 'swipe-dislike');

              .dislike {
                display: block;
              }
            }
          }
        }

        .name {
          flex: 1 1 auto;
          font-family: $base-heading-font-family;
          font-size: map_get($base-heading-font-size, 'h1') * 0.75;
          color: map_get($base-colors, 'primary');
          text-align: center;

          @media screen and (min-width: 30rem) {
            font-size: map_get($base-heading-font-size, 'h1');
          }
        }
      }
    }
  }

  .cta {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: map_get($base-padding, 'small');
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 30rem) {
      width: 75%;
    }

    styled-button {
      flex: 0 0 auto;

      /deep/ button {
        transform: scale(1.5);
      }

      &.like /deep/ button {
        border-color: map_get($base-colors, 'swipe-like');
        color: map_get($base-colors, 'swipe-like');
      }

      &.dislike /deep/ button {
        border-color: map_get($base-colors, 'swipe-dislike');
        color: map_get($base-colors, 'swipe-dislike');
      }
    }
  }
}
