# General
typings/
node_modules/

# Node.js
npm-debug.log*
.npm

# Logs
logs
*.log

# PHPStorm
.idea/

# Server
server/**/*.js
server/**/*.js.map
!server/karma.conf.js

# Client
client/dist
client/**/.sass-cache/
client/**/*.css.map
client/**/*.js
client/**/*.js.map
!client/webpack.config.js
!client/karma.conf.js

