# General
node_modules/
_generated/
.env

# Node.js
**/npm-debug.log*
**/.npm/

# Logs
**/logs/
**/*.log

# PHPStorm
**/.idea/

# Server
server/**/*.js
server/**/*.js.map

# Client
client/aot
client/**/.sass-cache/
client/**/*.css.map
client/**/*.js
client/**/*.js.map
!client/config/**/*.js

# Database
db/*
!db/files/
db/files/*
!db/files/icons/
!db/neo4j/
db/neo4j/*
!db/neo4j/conf/
!db/neo4j/plugins/

# Let's Encrypt
letsencrypt/
