@import '../../variables';

:host {
  display: block;

  .card {
    cursor: pointer;
    flex: 1 1 auto;

    .name {
      font-family: $base-heading-font-family;
      font-size: map_get($base-heading-font-size, 'h3');
      display: block;

      /deep/ .highlight {
        color: map_get($base-colors, 'primary');
      }
    }

    .relation {
      display: block;
      margin-top: map_get($base-padding, 'small');
      color: map_get($base-colors, 'primary');

      a {
        color: map_get($base-colors, 'secondary');
      }
    }
  }
}
