@import '../../variables';

:host {
  display: block;

  .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint('small') {
      flex-direction: row;
    }

    form {
      flex: 1 1 50%;
      display: flex;
      flex-direction: column;
    }

    .info {
      flex: 1 1 50%;

      @include breakpoint('small') {
        margin-left: map_get($base-padding, 'default');
        max-width: 25rem;
      }

      h2 {
        color: map_get($base-colors, 'secondary-text');
      }

      p {
        color: map_get($base-colors, 'secondary-text');
        text-align: justify;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    styled-button {
      flex: 0 0 auto;

      & /deep/ button {
        margin-bottom: 0;
      }
    }
  }
}
