<div class="translations">
	<translation-list [defaultText]="defaultName"></translation-list>
	<div class="info">
		<h2 class="hide-max-small">Erhöhe deine Reichweite!</h2>
		<p class="hide-max-small">Durch das hinzufügen weiterer Sprachen kannst du die Reichweite deiner Aktivität ganz einfach erhöhen! Probiere es doch jetzt einfach mal aus.</p>
		<p class="hide-min-small"><b>Tipp:</b> Erhöhe deine Reichweite durch Hinzufügen weiterer Sprachen!</p>
	</div>
</div>
<div class="buttons">
	<styled-button (click)="cancel()" [style]="buttonStyle" [text]="'Abbrechen'"></styled-button>
	<styled-button (click)="submit()" [text]="'Create'"></styled-button>
</div>
