<form class="form-wrapper" [formGroup]="form">
	<carousel [maxSteps]="2" #carousel>
		<div class="item split">
			<div class="content">
				<translation-list [defaultText]="defaultName" [takenTranslations]="form.controls.translations"></translation-list>
			</div>
			<div class="content">
				<h2>Erhöhe deine Reichweite!</h2>
				<p>Erhöhe deine Reichweite durch Hinzufügen weiterer Sprachen!</p>
			</div>
		</div>
		<div class="item split">
			<div class="content">
				<h2>Füge ein Icon hinzu!</h2>
				<p>Das Icon erhöht den Wiedererkennnungswert deines Rudels!</p>
			</div>
			<div class="content">
				<form-control-wrapper>
					<emoji-picker formControlName="icon"></emoji-picker>
				</form-control-wrapper>
			</div>
		</div>
	</carousel>
	<footer>
		<styled-button class="back" *ngIf="carousel.index() == 0" [style]="cancelButtonStyle" [text]="'Abbrechen'" (click)="cancel()"></styled-button>
		<styled-button class="back" *ngIf="carousel.index() > 0" [disabled]="submitPending" [text]="'Go back'" (click)="carousel.back()"></styled-button>
		<styled-button class="next" *ngIf="carousel.index() < 1" [disabled]="submitPending" [text]="'Continue'" (click)="carousel.next()"></styled-button>
		<styled-button class="done" *ngIf="carousel.index() == 1" [disabled]="submitPending" (click)="submit()" [text]="'Create Expedition'"></styled-button>
		<indicator [indicators]="[
'Basisinformationen',
'Icon']" [selectedIndex]="carousel.index()" [interactive]="false"></indicator>
	</footer>
</form>
