<div class="card">
    <user-avatar [user]="user"></user-avatar>
    <div class="about">
        <h1>{{user.firstName + ' ' + user.lastName}}</h1>
        <span class="username">{{user.username}}</span>
        <span class="description">{{user.profileText}}</span>
    </div>
    <div class="statistics">
        <!--{value: user.statistics.lists, subject: 'Liste(n)', link: ['lists']},-->
        <statistics [statistics]="[
		{value: user.statistics.likees, subject: 'Folgt', link: ['likees']},
		{value: user.statistics.likers, subject: 'Liker', link: ['likers']}
		]"></statistics>
        <div class="cta" *ngIf="!!user.relations">
            <styled-button [style]="user.relations.isLikee ? buttonStyleFollowing : buttonStyleDefault"
                    (click)="onToggleFollow()" [disabled]="pendingFollowRequest"
                    [text]="user.relations.isLikee ? 'Following' : 'Follow'"></styled-button>
        </div>
    </div>
</div>
<div class="content">
    <menu>
        <menu-item [makeRoomIfSmall]="true" [icon]="'pets'" [title]="'Rudel'" [link]="['rudel']"></menu-item>
       <!-- <menu-item [makeRoomIfSmall]="true" [icon]="'format_list_bulleted'" [title]="'Listen'"
                [link]="['lists']"></menu-item>-->
        <menu-item [makeRoomIfSmall]="true" [icon]="'people_outline'" [title]="'Folgt'"
                [link]="['likees']"></menu-item>
        <menu-item [makeRoomIfSmall]="true" [icon]="'people_outline'" [title]="'Liker'"
                [link]="['likers']"></menu-item>
    </menu>
    <router-outlet></router-outlet>
</div>
