<div class="card">
	<div class="header">
		<emoji [emoji]="activity.links.icon"></emoji>
		<h1>{{activity.name}}</h1>
	</div>
	<div class="statistics">
		<statistics [statistics]="[
		{value: activity.statistics.lists, subject: 'List Member'},
		{value: activity.statistics.followers, subject: 'Follower', link: 'follower'}
	]"></statistics>
		<div class="cta">
			<styled-button [style]="activity.relations.isFollowed ? buttonStyleActivated : buttonStyleDefault" (click)="onToggleFollow(true)" [disabled]="pendingFollowRequest" [text]="'Interested'"></styled-button>
			<styled-button [fa]="'list'" (click)="listsModal.open()"></styled-button>
		</div>
	</div>
</div>

<div class="card add-event" [ngClass]="{expanded: expandedEventCreation}" (click)="expandedEventCreation = true">
	<div class="title">
		<span i18n [@expandHorizontally]="expandedEventCreation">Event hinzufügen</span>
	</div>
	<create-expedition [activity]="activity" *ngIf="expandedEventCreation" [@expandVertically]="expandedEventCreation" (onCanceled)="expandedEventCreation = false"></create-expedition>
</div>
<loading *ngIf="expeditions == null"></loading>
<empty [emptyState]="emptyState" *ngIf="expeditions && expeditions.length == 0"></empty>
<item-wrapper *ngFor="let expedition of expeditions" [columns]="2">
	<li>
		<expedition-item (click)="selectExpedition(expedition)" [expedition]="expedition"></expedition-item>
	</li>
</item-wrapper>
<modal [title]="'Folgende Listen'" #listsModal>
	<add-to-list *ngIf="activity" [activity]="activity" (onToggled)="listsModal.close()"></add-to-list>
</modal>
<modal #unfollowModal [title]="'Are you sure to unfollow activity?'">
	<question [choices]="modalChoices" [description]='"Du bist der Ersteller dieser Aktivität. Durch das Entfolgen geht die Aktivität in den Besitz eines anderen Followers über. Aktivitäten ohne andere Follower werden gelöscht. Diese Aktion kann nicht rückgängig gemacht werden."'></question>
</modal>
