<div class="card">
	<div class="about">
		<emoji [emoji]="activity.links.icon"></emoji>
		<h1>{{activity.name}}</h1>
	</div>
	<div class="statistics">
		<statistics [statistics]="[
		{value: activity.statistics.expeditions, subject: 'Expeditions', link: ['expeditions']},
		{value: activity.statistics.followers, subject: 'Follower', link: ['followers']}
	]"></statistics>
		<div class="cta">
			<styled-button [style]="activity.relations.isFollowed ? buttonStyleActivated : buttonStyleDefault" (click)="onToggleFollow(true)" [disabled]="pendingFollowRequest" [text]="'Interested'"></styled-button>
			<styled-button [fa]="'bars'" (click)="dropdownMenu.toggle()"></styled-button>
			<dropdown-menu #dropdownMenu [arrowAlignment]="'right'">
				<menu-item [icon]="'pencil'" [title]="'Rudel bearbeiten'" [link]="['edit']" *ngIf="activity.relations.isOwned"></menu-item>
				<menu-item [icon]="'list'" [title]="'In Liste speichern'" [link]="['add-to-list']"></menu-item>
				<menu-item [icon]="'compass'" [title]="'Streifzug erstellen'" [link]="['create-expedition']"></menu-item>
			</dropdown-menu>
		</div>
	</div>
</div>
<menu>
	<menu-item [icon]="'compass'" [title]="'Streifzüge'" [link]="['expeditions']"></menu-item>
	<menu-item [icon]="'user-o'" [title]="'Rudelmitglieder'" [link]="['followers']"></menu-item>
</menu>
<router-outlet></router-outlet>
<modal #unfollowModal [title]="'Are you sure to unfollow activity?'">
	<question [choices]="modalChoices" [description]='"Du bist der Ersteller dieser Aktivität. Durch das Entfolgen geht die Aktivität in den Besitz eines anderen Followers über. Aktivitäten ohne andere Follower werden gelöscht. Diese Aktion kann nicht rückgängig gemacht werden."'></question>
</modal>
