@import '../../../variables';

$checkbox-text-font-size: map_get($base-font-size, 'default');
$checkbox-padding: $checkbox-text-font-size / 1.5; // --> 1 / 1.5 = 0.666

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  cursor: pointer;

  i {
    display: block;
    font-size: $checkbox-text-font-size;
    transform: scale($base-icon-scale);
    color: inactive(map_get($base-colors, 'secondary'));
    margin-right: $checkbox-padding;
    margin-left: $checkbox-padding;
  }

  span {
    flex: 1 1 auto;
    margin: $checkbox-padding;
    display: block;
    font-size: $checkbox-text-font-size;
    color: inactive(map_get($base-colors, 'primary-text'));
  }

  &.checked {
    i {
      color: map_get($base-colors, 'secondary');
    }

    span {
      color: map_get($base-colors, 'primary-text');
    }
  }
}
