<div class="input-mask">
	<i (click)="add(-1, 'months')" class="fa fa-chevron-left" *ngIf="state == 'day'"></i>
	<span (click)="toggleExpandState()">{{selectedMoment.format('llll')}}</span>
	<i (click)="add(1, 'months')" class="fa fa-chevron-right" *ngIf="state == 'day'"></i>
</div>

<ul class="day" [@datetime]="state == 'day'" *ngIf="state == 'day'">
	<li class="header">
		<span i18n>Datum</span>
	</li>
	<li *ngFor="let legend of legends.weekdays" class="legend">
		<span>{{legend}}</span>
	</li>
	<li *ngFor="let day of items.days" [ngClass]="{empty: !day, selected: day.selected, inactive: day.inactive}">
		<div class="inner" *ngIf="day" (click)="day.inactive || set(day.value, 'date') || nextState()">
			<span>{{day.formatted}}</span>
		</div>
	</li>
</ul>

<ul class="hour" [@datetime]="state == 'hour'" *ngIf="state == 'hour'">
	<li class="header">
		<span i18n>Uhrzeit (Stunde)</span>
	</li>
	<li *ngFor="let hour of items.hours" [ngClass]="{selected: hour.selected, inactive: hour.inactive}">
		<div class="inner" (click)="hour.inactive || set(hour.value, 'hours') || nextState()">
			<span>{{hour.formatted}}</span>
		</div>
	</li>
</ul>

<ul class="minute" [@datetime]="state == 'minute'" *ngIf="state == 'minute'">
	<li class="header">
		<span i18n>Uhrzeit (Minute)</span>
	</li>
	<li *ngFor="let minute of items.minutes" [ngClass]="{selected: minute.selected, inactive: minute.inactive}">
		<div class="inner" (click)="minute.inactive || set(minute.value, 'minutes') || nextState()">
			<span>{{minute.formatted}}</span>
		</div>
	</li>
</ul>
