@import '../../../variables.scss';

:host {
  display: flex;
  overflow: hidden;

  div {
    flex: 1 1 auto;

    ::ng-deep .leaflet-icon {
      $width: 1.7rem * 2;
      $height: 2rem * 2;
      width: $width;
      height: $height;
      margin-left: -$width / 2;
      margin-top: -$height;
    }

    ::ng-deep .leaflet-small-icon {
      $width: 1.7rem * 2 * 0.5;
      $height: 2rem * 2 * 0.5;
      width: $width;
      height: $height;
      margin-left: -$width / 2;
      margin-top: -$height;
    }

    ::ng-deep .leaflet-control-attribution{
      margin-left: 55px;

      a {
        color: map_get($base-colors, 'secondary');
      }
    }
  }
}
