<!--suppress XmlDuplicatedId -->
<label *ngIf="description" id="label_of_{{id}}" [innerHTML]="description | format"></label>
<input *ngIf="type == 'mail'" id="{{id}}" placeholder="{{placeholder}}" [attr.aria-labelledby]="description ? 'label_of_' + id : null" value="{{value}}" type="email" spellcheck="false" autocomplete="off">
<input *ngIf="type == 'text'" id="{{id}}" placeholder="{{placeholder}}" [attr.aria-labelledby]="description ? 'label_of_' + id : null" value="{{value}}" type="text">
<input *ngIf="type == 'password'" id="{{id}}" placeholder="{{placeholder}}" [attr.aria-labelledby]="description ? 'label_of_' + id : null" value="{{value}}" type="password">
