@import '../../variables';


:host {
  label {
    font-size: map_get($base-font-size, 'small');
    color: map_get($base-colors, 'secondary-text');
    display: inline-block;
    margin-bottom: map_get($base-padding, 'small');

    /deep/ .bold {
      font-weight: $base-font-weight-bold;
    }
  }

  small {
    font-size: map_get($base-font-size, 'small');
    color: map_get($base-colors, 'warning-text');
  }
}
