@import '../../variables';

$location-search-border-color: map_get($base-colors, 'secondary');

:host {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  @include setup-input-borders();
  margin-bottom: map_get($base-padding, 'small');

  input {
    flex: 1 1 auto;
    @include setup-input(false);
  }

  .results {
    list-style: none;
    overflow: scroll;
    flex: 1 1 auto;

    li {
      cursor: pointer;
      margin: map_get($base-padding, 'small');

      span {
        display: block;
      }

      small {
        display: block;
      }
    }
  }
}
