@import '../../variables';

$locationpicker-label-font-size: map_get($base-font-size, 'small');
$locationpicker-font-size: map_get($base-font-size, 'default');
$locationpicker-border-size: map_get($base-line-widths, 'default');
$locationpicker-border-radius: $base-border-radius;
$locationpicker-padding: $locationpicker-font-size / 1.5; // --> 1 / 1.5 = 0.666
$locationpicker-border-color: map_get($base-colors, 'secondary');
$locationpicker-body-height: 15rem;

:host {
  display: block;
  border: $locationpicker-border-size inactive($locationpicker-border-color) solid;
  border-radius: $locationpicker-border-radius;
  overflow: hidden;
  position: relative;
  margin-top: map_get($base-padding, 'small');
  margin-bottom: map_get($base-padding, 'small');

  .slider {
    display: flex;
    flex-direction: row;
    overflow: hidden;

    .slider-element {
      flex: 1 0 100%;
    }
  }

  .input-mask {
    display: flex;
    flex-direction: row;
    align-items: center;

    input,
    span {
      flex: 1 1 auto;
      border-radius: $locationpicker-border-radius;
      background-color: map_get($base-colors, 'background-highlighted');
      display: block;
      padding: $locationpicker-padding;
      font-family: $base-font-family;
      font-weight: $base-font-weight-normal;
    }

    span {
      cursor: pointer;
      text-align: center;
      color: inactive(map_get($base-colors, 'primary-text'));
    }

    &.dirty span {
      color: map_get($base-colors, 'primary-text');
    }

    input {
      outline: none;
      border: none;
      color: map_get($base-colors, 'primary-text');

      &::placeholder {
        color: inactive(map_get($base-colors, 'primary-text'));
      }
    }

    i {
      cursor: pointer;
      padding: $locationpicker-padding;
      flex: 0 1 auto;
      display: none;
    }
  }

  &.focused {
    border-color: $locationpicker-border-color;

    .input-mask i {
      display: block;
    }
  }

  .mapCanvas {
    border-radius: $locationpicker-border-radius;
    height: $locationpicker-body-height;

    /deep/ .leaflet-icon {
      $width: 1.7rem * 2;
      $height: 2rem * 2;
      width: $width;
      height: $height;
      margin-left: -$width / 2;
      margin-top: -$height;
    }
  }

  .results {
    list-style: none;
    height: $locationpicker-body-height;
    overflow: scroll;

    li {
      cursor: pointer;
      margin: map_get($base-padding, 'smaller');

      span {
        display: block;
      }

      small {
        display: block;
      }
    }
  }
}
