<div class="slider">
	<div class="slider-element" [@slideInGeocoder]="geocodingMode">
		<div class="input-mask" [ngClass]="{dirty: dirty}">
			<span (click)="toggleExpandState()">{{!location ? 'Set event location...' : location | formatCoordinates }}</span>
			<i class="fa fa-search" (click)="geocodingMode = true"></i>
		</div>
		<div class="map-wrapper" [@expandVertically]="expanded" (@expandVertically.done)="updateMap()">
			<div class="map-canvas" #mapElement></div>
			<small i18n>Click on the icon to confirm</small>
		</div>
	</div>
	<div class="slider-element" [@slideInGeocoder]="geocodingMode" (@slideInGeocoder.done)="$event.toState && searchElement.focus()">
		<div class="input-mask">
			<i class="fa fa-map-o" (click)="geocodingMode = false"></i>
			<input #searchElement placeholder="Set event location" type="text" (keyup)="onKey($event)">
		</div>
		<ul class="results" *ngIf="geocodingMode">
			<li *ngFor="let geocodedLocation of geocodedLocations" (click)="setLocation(geocodedLocation.location) || geocodingMode = false">
				<span>{{geocodedLocation.label}}</span>
				<small>{{geocodedLocation.location | formatCoordinates}}</small>
			</li>
		</ul>
	</div>
</div>
