@import '../../variables.scss';

$modal-background-layer-color: map_get($base-colors, 'background-modal');
$modal-background-color: map_get($base-colors, 'secondary');
$modal-color: map_get($base-colors, 'background-highlighted');
$modal-horizontal-padding: map_get($base-padding, 'default');
$modal-vertical-padding: map_get($base-padding, 'larger');
$modal-close-button-size: map_get($base-padding, 'smaller');

:host {

  .background,
  .modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
  }

  .background {
    background-color: $modal-background-layer-color;
  }

  .modal-wrapper {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .modal {
      pointer-events: auto;
      position: relative;
      border-radius: $base-border-radius $base-border-radius 0 0;
      background-color: $modal-background-color;
      padding-top: $modal-vertical-padding;
      box-shadow: map_get($base-shadow, 'modal');
      max-width: 30rem;
      max-height: 70vh;
      display: flex;
      flex-direction: column;
      width: 90%;
      flex: 0 0 auto;

      .close {
        position: absolute;
        top: 0;
        right: 0;
        width: $modal-horizontal-padding + $modal-close-button-size;
        height: $modal-vertical-padding;
        font-size: $modal-close-button-size;
        background: none;
        color: $modal-color;
        padding: $modal-vertical-padding - $modal-close-button-size $modal-horizontal-padding 0 0;
        cursor: pointer;
      }

      h1 {
        color: $modal-color;
        margin-right: $modal-horizontal-padding;
        margin-left: $modal-horizontal-padding;
        flex: 0 0 auto;
      }

      div {
        flex: 1 1 auto;
        overflow: scroll;
        padding-left: $modal-horizontal-padding;
        padding-right: $modal-horizontal-padding;
        padding-bottom: $modal-horizontal-padding;
      }
    }
  }
}
