@import '../../variables.scss';

:host {
  .description {
    color: map_get($base-colors, 'background-highlighted');
    line-height: map_get($base-line-height, 'multiline');
    display: block;
  }

  footer {
    display: flex;
    flex-direction: column;
    margin-top: map_get($base-padding, 'default');
  }
}
