@import "./ui/variables.scss";

/deep/ * {
  box-sizing: border-box;
}

:host {
  display: block;
  min-height: 100vh;
  background-color: map_get($base-colors, 'background');
  width: 100vw;
  overflow: hidden;

  & /deep/ {
    font-family: $base-font-family;
    font-weight: $base-font-weight-normal;
    font-size: map_get($base-font-size, 'default');
    color: map_get($base-colors, 'primary-text');
    line-height: map_get($base-line-height, 'default');
  }

  // Reset text decorations.
  /deep/ a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
  }

  // Reset padding + margin.
  /deep/ li,
  /deep/ ul,
  /deep/ button {
    margin: 0;
    padding: 0;
  }

  // Reset borders.
  /deep/ button {
    border: none;
    outline: none;
    cursor: pointer;
  }

  // Set headings.
  @each $heading, $size in $base-heading-font-size {
    $letter-spacing: -1em / 40;

    /deep/ #{$heading} {
      font-family: 'Fredoka One', sans-serif;
      font-weight: $base-font-weight-normal;
      letter-spacing: $letter-spacing;
      margin-bottom: $size;
      font-size: $size;
    }
  }

  // Set helper classes.
  /deep/ .hide {
    display: none !important;
  }

  // Define default card.
  /deep/ .card {
    padding: map_get($base-padding, 'small');
    border-radius: $base-border-radius;
    background-color: map_get($base-colors, 'background-highlighted');
    box-shadow: map_get($base-shadow, 'default');
  }
}
