@import './variables';

$header-background-color: #fff;
$header-content-size: 2rem;
$header-vertical-padding: map_get($base-padding, 'smaller');
$header-horizontal-padding: map_get($base-padding, 'default');

:host {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $header-background-color;
  padding: $header-vertical-padding $header-horizontal-padding;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 auto;

    img {
      width: $header-content-size;
      height: $header-content-size;
      margin-right: map_get($base-padding, 'smaller');
    }

    span {
      font-family: $base-heading-font-family;
      font-weight: $base-heading-font-weight-normal;
      font-size: $header-content-size;
      color: map_get($base-colors, 'primary');
    }
  }

  tab-menu {
    flex: 1 0 auto;
  }

  dropdown-menu {
    position: absolute;
    top: $header-content-size + $header-vertical-padding * 2;
    right: $header-horizontal-padding;
  }

  .menu {
    flex: 0 0 auto;
    background: red;
    width: $header-content-size;
    height: $header-content-size;
    border-radius: 50%;
    cursor: pointer;
  }
}
