@import 'variables';

:host {
  display: block;

  ul {
    list-style: none;
    margin-bottom: map_get($base-padding, 'default') + map_get($base-heading-font-size, 'h3');

    li {
      display: flex;
      align-items: flex-start;

      .avatar {
        display: flex;
        cursor: pointer;
        flex: 0 0 auto;
        border-radius: 50%;
        $size: map_get($base-padding, 'small') * 2 + map_get($base-heading-font-size, 'h3') * $base-line-height + map_get($base-padding, 'small') + 1rem * $base-line-height;
        width: $size;
        height: $size;
        justify-content: center;
        align-items: center;
        background-color: map_get($base-colors, 'primary');

        span {
          font-size: map_get($base-heading-font-size, 'h2');
          font-family: $base-heading-font-family;
          color: map_get($base-colors, 'background');
        }
      }

      .card {
        cursor: pointer;
        flex: 1 1 auto;
        padding: map_get($base-padding, 'small');
        margin-left: map_get($base-padding, 'default');
        border-radius: $base-border-radius;
        background-color: map_get($base-colors, 'background-highlighted');
        box-shadow: map_get($base-shadow, 'default');

        .name {
          font-family: $base-heading-font-family;
          font-size: map_get($base-heading-font-size, 'h3');
          display: block;
        }

        .relation {
          display: block;
          margin-top: map_get($base-padding, 'small');
          color: map_get($base-colors, 'primary');

          a {
            color: map_get($base-colors, 'secondary');
          }
        }
      }
    }
  }
}
