$base-padding: (
  'default': 2rem,
  'small' : 0.5rem
);
$base-font-family: 'Lato';
$base-font-weight-normal: 400;
$base-font-weight-bold: 700;
$base-font-size: 1rem;
$base-heading-font-family: 'Sansita One';
$base-heading-font-weight-normal: 400;
$base-heading-font-bold-normal: $base-heading-font-weight-normal;
$base-heading-font-size: (
  'h1': 2rem,
  'h2': 1.75rem,
  'h3': 1.5rem,
  'h4': 1.25rem,
  'h5': 1.125rem
);

$base-colors: (
  'primary': #fff,
  'secondary': #27c398,
  'text': #4f4e52,
  'inactive': #c2c2c2
);
