@import './../variables';

:host {
  display: flex;
  align-items: flex-start;

  avatar {
    cursor: pointer;
    flex: 0 0 auto;
    margin-top: map_get($base-padding, 'small');
    margin-left: map_get($base-padding, 'small');
    margin-bottom: map_get($base-padding, 'small');
    $size: map_get($base-padding, 'small') * 2 + map_get($base-heading-font-size, 'h3') * $base-line-height + map_get($base-padding, 'small') + 1rem * $base-line-height - map_get($base-padding, 'small') * 2;
    width: $size;
    height: $size;
  }

  .card {
    cursor: pointer;
    flex: 1 1 auto;
    margin-left: map_get($base-padding, 'default');

    .name {
      font-family: $base-heading-font-family;
      font-size: map_get($base-heading-font-size, 'h3');
      display: block;
    }

    .relation {
      display: block;
      margin-top: map_get($base-padding, 'small');
      color: map_get($base-colors, 'primary');

      a {
        color: map_get($base-colors, 'secondary');
      }
    }
  }
}
