@import '../variables';

$button-font-size: 0.95rem;
$button-border-radius: 0.25rem;
$button-padding: $button-font-size / 1.5; // --> 1 / 1.5 = 0.666
$button-colors: (
  'default-background': map_get($base-colors, 'secondary'),
  'default-color': #fff,
  'inactive-background': inactive(map_get($base-colors, 'secondary')),
  'inactive-color': #fff
);

:host {
  display: block;

  button {
    transition: box-shadow 0.25s;
    background-color: map_get($button-colors, 'default-background');
    cursor: pointer;
    margin-top: map_get($base-padding, 'small');
    margin-bottom: map_get($base-padding, 'small');
    border: none;
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
    border-radius: $button-border-radius;
    color: map_get($button-colors, 'default-color');
    font-size: $button-font-size;
    padding: $button-padding $button-padding * 1.5;
    display: block;
    text-align: center;

    &:hover {
      box-shadow: 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0.025rem 0.025rem 0.025rem rgba(0, 0, 0, 0.125);
    }

    &:focus {
      outline: none;
    }

    &[disabled] {
      background-color: map_get($button-colors, 'inactive-background');
      color: map_get($button-colors, 'inactive-color');
    }

    .fa {
      margin-right: map_get($base-padding, 'small');
    }
  }
}
