@import '../../variables.scss';

:host {
  overflow: hidden;
  display: block;

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    transition: transform 0.3s;

    & ::ng-deep > * {
      flex: 0 0 100%;
    }
  }
}
