@import '../../variables';
@import "../../mixins";

$list-margin: map_get($base-padding, 'smaller');

:host {
  display: block;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;

    &.single-column-layout,
    &.two-columns-layout,
    &.three-columns-layout {
      & > /deep/ * {
        flex: 0 0 100%;
      }
    }

    &.reversed-order {
      flex-direction: row-reverse;
    }

    @include breakpoint('small') {
      &.two-columns-layout > /deep/ * {
        flex: 0 0 100% / 2;
      }

      &.three-columns-layout > /deep/ * {
        flex: 0 0 100% / 3;
      }
    }

    &:not(.no-margins) {
      & > /deep/ * {
        margin-top: $list-margin;

        &:nth-child(1) {
          margin-top: 0;
        }
      }

      @include breakpoint('small') {
        &.two-columns-layout > /deep/ * {
          flex: 0 0 calc(50% - #{$list-margin / 2});

          &:nth-child(2) {
            margin-top: 0;
          }
        }

        &.three-columns-layout > /deep/ * {
          flex: 0 0 calc(100% / 3 - #{$list-margin / 2});

          &:nth-child(2),
          &:nth-child(3) {
            margin-top: 0;
          }
        }
      }
    }
  }
}
