@import '../../variables.scss';
@import "../../mixins.scss";

$list-margin: map_get($base-padding, 'smaller');
$list-horizontal-glimpse: map_get($base-padding, 'default');
$list-horizontal-item-width: 15rem;

:host {
  display: block;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    &.single-column-layout,
    &.two-columns-layout,
    &.three-columns-layout {
      & > ::ng-deep * {
        flex: 0 0 auto;
        width: 100%;
      }
    }

    &.horizontal-layout {
      flex-wrap: nowrap;
      overflow: auto;

      & > ::ng-deep * {
        width: $list-horizontal-item-width;
        margin-right: $list-margin;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    @include breakpoint('small') {
      &.two-columns-layout > ::ng-deep * {
        width: 100% / 2;
      }

      &.three-columns-layout > ::ng-deep * {
        width: 100% / 3;
      }
    }

    &.margins:not(.horizontal-layout) {
      & > ::ng-deep * {
        margin-top: $list-margin;

        &:nth-child(1) {
          margin-top: 0;
        }
      }

      @include breakpoint('small') {
        &.two-columns-layout {
          justify-content: space-between;

          & > ::ng-deep * {
            width: calc(50% - #{$list-margin / 2});

            &:nth-child(2) {
              margin-top: 0;
            }
          }
        }

        &.three-columns-layout {
          justify-content: space-between;

          & > ::ng-deep * {
            width: calc(100% / 3 - #{$list-margin / 2});

            &:nth-child(2),
            &:nth-child(3) {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}
