@import '../../variables.scss';
@import '../../mixins.scss';

$notification-avatar-size: 2.5rem;

:host {
  display: block;

  .card {
    cursor: pointer;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    .content {
      margin-left: map_get($base-padding, 'smaller');
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;

      @include breakpoint('small') {
        flex-direction: row;
        align-items: center;
      }

      .message {
        @include breakpoint(null, 'small') {
          margin-bottom: map_get($base-padding, 'smallest');
        }

        /deep/ .bold {
          font-weight: $base-font-weight-bold;
          color: map_get($base-colors, 'primary');
        }
      }

      .date {
        font-size: map_get($base-font-size, 'small');
        color: map_get($base-colors, 'secondary-text');
        white-space: nowrap;

        @include breakpoint('small') {
          margin-left: auto;
        }
      }
    }

    .icon {
      position: relative;
      height: $notification-avatar-size;
      width: $notification-avatar-size;
      flex: 0 0 auto;

      user-avatar,
      emoji {
        height: $notification-avatar-size;
        width: $notification-avatar-size;
      }

      .clip-mask {
        position: absolute;
        top: 0;
        right: 0;
        height: $notification-avatar-size;
        width: $notification-avatar-size / 2;
        overflow: hidden;

        emoji {
          margin-left: -$notification-avatar-size / 2;
        }
      }
    }

    .overflow {
      position: relative;
      pointer-events: none;
      display: flex;
      flex-direction: row;

      & /deep/ > * {
        pointer-events: auto;
      }
    }
  }
}
