<button type="button" [ngClass]="{disabled: disabled}" class="{{getStyleClass()}}" (click)="onClick($event)">
    <i class="material-icons" *ngIf="icon">{{icon}}</i>
    <ng-container *ngIf="flag">
        <img class="flag" *ngIf="flag == 'de'" src="../../../../assets/flags/de.svg">
        <img class="flag" *ngIf="flag == 'es'" src="../../../../assets/flags/es.svg">
        <img class="flag" *ngIf="flag == 'en'" src="../../../../assets/flags/en.svg">
        <img class="flag" *ngIf="flag == 'fr'" src="../../../../assets/flags/fr.svg">
    </ng-container>
    <span *ngIf="text">{{text}}</span>
</button>
