@import '../../variables';

$comment-avatar-size: 3rem;

:host {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  user-avatar {
    cursor: pointer;
    flex: 0 0 auto;
    margin-top: map_get($base-padding, 'small');
    margin-left: map_get($base-padding, 'small');
    margin-bottom: - $comment-avatar-size / 2;
    width: $comment-avatar-size;
    height: $comment-avatar-size;
  }

  .card {
    flex: 0 0 auto;
    width: 100%;
    font-size: map_get($base-font-size, 'small');

    .user {
      font-weight: $base-font-weight-light;
      color: map_get($base-colors, 'secondary');
      display: block;
      text-align: end;
    }

    .message {
      display: block;
      margin-top: map_get($base-padding, 'small');
      color: map_get($base-colors, 'secondary-text');
    }

    .meta {
      display: block;
      margin-top: map_get($base-padding, 'small');
      color: inactive(map_get($base-colors, 'secondary-text'));
    }

    &.pinned {
      .message {
        color: map_get($base-colors, 'primary-text');
      }
    }
  }
}
