@import '../../variables';
@import "../../mixins";

:host {
  display: flex;
  padding: map_get($base-padding, 'default');
  flex-direction: column;
  @include setup-max-width();

  section:not(:first-child) {
    margin-top: map_get($base-padding, 'default');
  }

  .results {
    list-style: none;

    &.collapsed li {
      &:not(li.create),
      &:not(li:nth-child(1)),
      &:not(li:nth-child(2)),
      &:not(li:nth-child(3)),
      &:not(li:nth-child(4)) {
        display: none;
      }
    }

    .create {
      create-activity.ng-animating {
        overflow: hidden;
      }

      .title {
        display: block;
        cursor: pointer;
        color: map_get($base-colors, 'secondary-text');
        font-size: map_get($base-font-size, 'large');
        transition: color 0.3s, font-size 0.3s, margin 0.3s;
        margin: 0;

        .highlight {
          color: map_get($base-colors, 'primary');

          &:after,
          &:before {
            color: map_get($base-colors, 'secondary-text');
            content: '"';
          }
        }
      }

      &.expanded {
        .title {
          cursor: default;
          font-weight: $base-heading-font-weight;
          font-family: $base-heading-font-family;
          color: map_get($base-colors, 'primary-text');
          margin: map_get($base-padding, 'smaller') map_get($base-padding, 'smaller') map_get($base-heading-font-size, 'h1');
          font-size: map_get($base-heading-font-size, 'h1');
        }
      }
    }
  }
}
