<loading *ngIf="searching"></loading>
<section *ngIf="searchValue">
    <h1 i18n="@@rudel">Rudel</h1>
    <item-wrapper class="results">
        <li *ngFor="let rudel of rudel">
            <rudel-item [style]="rudelItemStyle" [highlight]="searchValue" [rudel]="rudel"></rudel-item>
        </li>
        <li class="card create" [ngClass]="{expanded: expandedRudel, collapsed: collapsedRudel}">
            <div class="title" (click)="rudelAnimationState = true">
                <span *ngIf="collapsedRudel" i18n="@@searchNothingFound">Found nothing?</span> <span i18n="@@searchCreateRudel">Settle a rudel</span> <span *ngIf="collapsedRudel" class="highlight">{{searchValue}}</span>
            </div>
            <create-rudel *ngIf="rudelAnimationState" [@container]="rudelAnimationState"
                    (@container.start)="$event.toState == 'void' ? onShrinkRudelStarted(): onExpandRudelStarted()"
                    (@container.done)="$event.toState == 'void' ? onShrinkRudelCompleted(): onExpandRudelCompleted()"
                    [defaultName]="searchValue" (onCanceled)="rudelAnimationState = false"></create-rudel>
        </li>
    </item-wrapper>
</section>
<section *ngIf="searchValue">
    <!--<h1 i18n>Lists</h1>
    <item-wrapper class="results">
        <li class="card create" [ngClass]="{expanded: expandedListCreation}">
            <div class="title" (click)="expandedListCreation = true">
                <span i18n>Create new list</span> <span #highlightedList class="highlight">{{searchValue}}</span>
            </div>
            <create-list *ngIf="expandedListCreation" [@container]="expandedListCreation"
                    (@container.start)="$event.toState && highlightedList.style.display = 'none'"
                    (@container.done)="$event.toState == 'void' && highlightedList.style.display = 'inline'"
                    [defaultName]="searchValue" (onCanceled)="expandedListCreation = false"></create-list>
        </li>
        <li *ngFor="let list of lists">
            <list-item [highlight]="searchValue" [list]="list"></list-item>
        </li>
    </item-wrapper>-->
</section>
<section *ngIf="users && users.length > 0">
    <h1 i18n="@@user">User</h1>
    <item-wrapper class="results">
        <li *ngFor="let user of users">
            <user-item [highlight]="searchValue" [user]="user"></user-item>
        </li>
    </item-wrapper>
</section>
