<section *ngIf="searchValue">
    <h1 i18n>Rudel</h1>
    <item-wrapper class="results" [ngClass]="{expanded: !collapsedRudel}">
        <li class="card create" [ngClass]="{expanded: expandedRudelCreation}">
            <div class="title" (click)="expandedRudelCreation = true">
                <span i18n>Bilde ein neues Rudel</span> <span #highlightedRudel class="highlight">{{searchValue}}</span>
            </div>
            <create-rudel *ngIf="expandedRudelCreation" [@container]="expandedRudelCreation"
                    (@container.start)="$event.toState && highlightedRudel.style.display = 'none'"
                    (@container.done)="$event.toState == 'void' && highlightedRudel.style.display = 'inline'"
                    [defaultName]="searchValue" (onCanceled)="expandedRudelCreation = false"></create-rudel>
        </li>
        <li *ngFor="let rudel of rudel">
            <rudel-item [highlight]="searchValue" [rudel]="rudel"></rudel-item>
        </li>
    </item-wrapper>
</section>
<section *ngIf="searchValue">
    <h1 i18n>Lists</h1>
    <item-wrapper class="results" [ngClass]="{expanded: !collapsedLists}">
        <li class="card create" [ngClass]="{expanded: expandedListCreation}">
            <div class="title" (click)="expandedListCreation = true">
                <span i18n>Create new list</span> <span #highlightedList class="highlight">{{searchValue}}</span>
            </div>
            <create-list *ngIf="expandedListCreation" [@container]="expandedListCreation"
                    (@container.start)="$event.toState && highlightedList.style.display = 'none'"
                    (@container.done)="$event.toState == 'void' && highlightedList.style.display = 'inline'"
                    [defaultName]="searchValue" (onCanceled)="expandedListCreation = false"></create-list>
        </li>
        <li *ngFor="let list of lists">
            <list-item [highlight]="searchValue" [list]="list"></list-item>
        </li>
    </item-wrapper>
</section>
<section *ngIf="users && users.length > 0">
    <h1 i18n>People</h1>
    <item-wrapper class="results" [ngClass]="{collapsed: collapsedUsers}">
        <li *ngFor="let user of users">
            <user-item [highlight]="searchValue" [user]="user"></user-item>
        </li>
    </item-wrapper>
</section>
