@import '../../variables.scss';
@import "../../mixins.scss";

:host {
  display: block;
  @include setup-max-width();
  @include setup-default-padding();

  .card {
    position: relative;
    display: flex;
    flex-direction: row;

    @include breakpoint(null, 'small') {
      flex-direction: column;
    }

    .about {
      flex: 1 1 auto;
      display: flex;
      flex-direction: row;
      align-items: center;

      @include breakpoint(null, 'small') {
        margin-bottom: map_get($base-padding, 'smaller');
      }

      emoji {
        margin-right: map_get($base-padding, 'smaller');
        flex: 0 0 auto;
      }

      h1 {
        hyphens: auto;
        margin: 0;
      }
    }

    .statistics {
      flex: 0 1 auto;
      display: flex;
      flex-direction: column;

      statistics {
        flex: 1 1 auto;
      }

      .cta {
        flex: 1 1 auto;
        display: flex;
        justify-content: space-between;
        margin-top: map_get($base-padding, 'small');
        position: relative;

        styled-button {
          flex: 1 1 auto;
          margin-bottom: 0;

          &:first-child {
            margin-right: map_get($base-padding, 'small');
          }
        }
      }
    }
  }

  menu {
    padding-top: map_get($base-padding, 'smaller');
    padding-bottom: map_get($base-padding, 'smaller');
    margin-bottom: map_get($base-padding, 'default');
  }

  dropdown-menu {
    top: 100%;
    right: 0;
  }
}
