<div class="card">
    <div class="about">
        <emoji [emoji]="rudel.links.icon"></emoji>
        <h1>{{rudel.name}}</h1>
    </div>
    <div class="statistics">
        <statistics [statistics]="[
		{value: rudel.statistics.expeditions, subject: 'Streifzüge', link: ['upcoming-expeditions']},
		{value: rudel.statistics.likers, subject: 'Befürworter', link: ['likers']}
	]"></statistics>
        <div class="cta">
            <styled-button [style]="rudel.relations.isLiked ? buttonStyleActivated : buttonStyleDefault"
                    (click)="onToggleFollow(true)" [disabled]="pendingFollowRequest"
                    [text]="'Interessiert'"></styled-button>
            <styled-button [icon]="'event_note'" [style]="buttonStyleDefault" [link]="['create-expedition']" [text]="'Neuer Streifzug'"></styled-button>
          <!--  <styled-button [icon]="'more_vert'" (click)="dropdownMenu.toggle()"></styled-button>
            <dropdown-menu #dropdownMenu [arrowAlignment]="'right'">
                <menu-item [icon]="'edit'" [title]="'Rudel bearbeiten'" [link]="['edit']"
                        *ngIf="rudel.relations.isOwned"></menu-item>
               <menu-item [icon]="'format_list_bulleted'" [title]="'In Liste speichern'"
                        [link]="['add-to-list']"></menu-item>
                <menu-item [icon]="'event_note'" [title]="'Streifzug erstellen'"
                        [link]="['create-expedition']"></menu-item>
            </dropdown-menu>-->
        </div>
    </div>
</div>
<menu>
    <menu-item [icon]="'event_note'" [makeRoomIfSmall]="true" [title]="'Künftige Streifzüge'"
            [link]="['upcoming-expeditions']"></menu-item>
    <menu-item [icon]="'event_busy'" [makeRoomIfSmall]="true" [title]="'Bisherige Streifzüge'"
            [link]="['done-expeditions']"></menu-item>
    <menu-item [icon]="'people_outline'" [makeRoomIfSmall]="true" [title]="'Rudelmitglieder'"
            [link]="['likers']"></menu-item>
</menu>
<router-outlet></router-outlet>
<modal #unfollowModal [title]="'Bist du wirklich nicht interessiert?'">
    <question [choices]="modalChoices"
            [description]='"Du bist der Ersteller dieses Rudels. Durch diese Aktion geht das Rudel in den Besitz eines anderen Nutzers über. Rudel ohne Befürworter werden gelöscht. Diese Aktion kann nicht rückgängig gemacht werden."'></question>
</modal>
