@import './variables.scss';

:host {
  display: block;
  @include setup-max-width();
  padding: map_get($base-padding, 'default');

  .card {
    display: flex;
    flex-direction: row;

    .header {
      flex: 1 1 auto;

      .username {
        display: block;
        font-size: map_get($base-font-size, 'small');
        color: map_get($base-colors, 'secondary-text');
        margin-top: map_get($base-padding, 'smallest');

        &:before {
          content: '@';
        }
      }
    }

    .statistics {
      flex: 0 1 auto;
      display: flex;
      flex-direction: column;
      margin-top: map_get($base-padding, 'smaller');

      statistics {
        flex: 1 1 auto;
      }

      .cta {
        flex: 1 1 auto;
        display: flex;
        justify-content: space-between;

        styled-button {
          margin-bottom: 0;

          &:first-child {
            flex: 1 1 auto;
            margin-right: map_get($base-padding, 'small');
          }
        }
      }
    }
  }

  tab-menu {
    margin-top: map_get($base-padding, 'default');
    margin-bottom: map_get($base-padding, 'default');
  }

  .add-event {
      display: flex;
      margin-top: map_get($base-padding, 'smaller');
      color: inactive(map_get($base-colors, 'primary-text'));
      flex-direction: row;
      justify-content: center;
      cursor: pointer;
      align-items: center;
      font-size: map_get($base-font-size, 'large');

      i {
        margin-right: map_get($base-padding, 'smaller');
      }

      * {
        flex: 0 0 auto;
      }
  }

  .event-item {
    flex: 1 1 auto;
  }

  .attribution {
    opacity: 0.5;
    color: map_get($base-colors, 'secondary-text');
    display: block;
    margin-top: map_get($base-padding, 'default');
    text-align: center;

    a {
      color: map_get($base-colors, 'primary-text');

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
