<div class="card" *ngIf="activity">
	<div class="header">
		<h1>{{activity.name}}</h1>
		<span class="username" [routerLink]="['/people', activity.owner.username]">{{activity.owner.username}}</span>
	</div>
	<div class="statistics">
		<statistics [statistics]="[
		{value: activity.statistics.lists, subject: 'List Member'},
		{value: activity.statistics.followers, subject: 'Follower', link: 'follower'}
	]"></statistics>
		<div class="cta">
			<styled-button [style]="activity.relations.isFollowed ? buttonStyleActivated : buttonStyleDefault" (click)="onToggleFollow(true)" [disabled]="pendingFollowRequest" [text]="'Interested'"></styled-button>
			<styled-button [fa]="'list'" (click)="listsModal.open()"></styled-button>
		</div>
	</div>
</div>

<div class="card add-event">
	<i class="fa fa-plus"></i>
	<span i18n>Event hinzufügen</span>
</div>

<tab-menu [tabItems]="tabItems"></tab-menu>

<item-wrapper [columns]="3" *ngIf="tab === tabItems['current']">
	<event-item *ngFor="let currentEvent of currentEvents" [event]="currentEvent"></event-item>
</item-wrapper>

<item-wrapper [columns]="3" *ngIf="tab === tabItems['around']">
	<event-item *ngFor="let approvedEvent of currentEvents" [event]="approvedEvent"></event-item>
</item-wrapper>

<item-wrapper [columns]="3" *ngIf="tab === tabItems['past']">
	<event-item *ngFor="let pastEvent of pastEvents" [event]="pastEvent"></event-item>
</item-wrapper>

<loading [emptyState]="emptyStates.around" [isLoading]="isLoading" *ngIf="tab === tabItems['around'] && (isLoading || nearbyEvents.length == 0)"></loading>
<loading [emptyState]="emptyStates.past" [isLoading]="isLoading" *ngIf="tab === tabItems['past'] && (isLoading || pastEvents.length == 0)"></loading>
<loading [emptyState]="emptyStates.current" [isLoading]="isLoading" *ngIf="tab === tabItems['current'] && (isLoading || currentEvents.length == 0)"></loading>

<small class="attribution">Maps provided by © <a target="_blank" href="https://openstreetmap.org/copyright">OpenStreetMap</a> Contributors via <a target="_blank" href="http://leafletjs.com">Leaflet</a></small>

<modal [title]="'Folgende Listen'" #listsModal>
	<add-to-list *ngIf="activity" [activity]="activity" (onToggled)="listsModal.close()"></add-to-list>
</modal>
<modal #unfollowModal [title]="'Are you sure to unfollow activity?'" >
	<question [choices]="modalChoices" [description]='"Du bist der Ersteller dieser Aktivität. Durch das Entfolgen geht die Aktivität in den Besitz eines anderen Followers über. Aktivitäten ohne andere Follower werden gelöscht. Diese Aktion kann nicht rückgängig gemacht werden."'></question>
</modal>
