<div class="card" *ngIf="activity">
	<div class="header">
		<h1>{{activity.name}}</h1>
		<span class="username" [routerLink]="['/people', activity.owner.username]">{{activity.owner.username}}</span>
	</div>
	<div class="statistics">
		<statistics [statistics]="[
		{value: activity.statistics.lists, subject: 'List Member'},
		{value: activity.statistics.followers, subject: 'Follower', link: 'follower'}
	]"></statistics>
		<div class="cta">
			<styled-button [style]="activity.relations.isFollowed ? buttonStyleActivated : buttonStyleDefault" (click)="onToggleFollow(true)" [disabled]="pendingFollowRequest" [text]="'Interested'"></styled-button>
			<styled-button [fa]="'list'" (click)="listsModal.open()"></styled-button>
		</div>
	</div>
</div>
<modal [title]="'Folgende Listen'" #listsModal>
	<add-to-list *ngIf="activity" [activity]="activity" (onToggled)="listsModal.close()"></add-to-list>
</modal>
<modal #unfollowModal [title]="'Are you sure to unfollow activity?'" >
	<question [choices]="modalChoices" [description]='"Du bist der Ersteller dieser Aktivität. Durch das Entfolgen geht die Aktivität in den Besitz eines anderen Followers über. Aktivitäten ohne andere Follower werden gelöscht. Diese Aktion kann nicht rückgängig gemacht werden."'></question>
</modal>
		
<section *ngIf="activity">
	<h2 i18n>Teilnahme bestätigt</h2>
	<item-wrapper class="scroll-container" [columns]="3">
		<div class="card card-add-event">
			<i class="fa fa-plus"></i>
			<span>Event hinzufügen</span>
		</div>
		<event-item [event]=""></event-item>
		<event-item [event]=""></event-item>
		<event-item [event]=""></event-item>
	</item-wrapper>
	<small class="attribution">Maps provided by © <a target="_blank" href="https://openstreetmap.org/copyright">OpenStreetMap</a> Contributors via <a target="_blank" href="http://leafletjs.com">Leaflet</a></small>
</section>

<section>
	<h2 i18n>In deiner Nähe</h2>
	<item-wrapper class="scroll-container" [columns]="3">
		<event-item [event]=""></event-item>
		<event-item [event]=""></event-item>
		<event-item [event]=""></event-item>
	</item-wrapper>
	<small class="attribution">Maps provided by © <a target="_blank" href="https://openstreetmap.org/copyright">OpenStreetMap</a> Contributors via <a target="_blank" href="http://leafletjs.com">Leaflet</a></small>
</section>
