@import "./variables.scss";
@import "./mixins";

// Reset.
/deep/ * {
  box-sizing: border-box;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

/deep/ ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Set paragraphs
/deep/ p {
  margin-bottom: map_get($base-padding, 'small');
  line-height: map_get($base-line-height, 'multiline');
}

// Reset text decorations.
/deep/ a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

// Reset borders.
/deep/ button {
  border: none;
  outline: none;
  cursor: pointer;
}

// Set headings.
@each $heading, $size in $base-heading-font-size {
  /deep/ #{$heading} {
    font-family: $base-heading-font-family;
    font-weight: $base-heading-font-weight;
    margin-top: $size * 1.5;
    margin-bottom: $size;
    font-size: $size;

    &:first-child {
      margin-top: 0;
    }
  }
}

// Set helper classes.
/deep/ .hide {
  display: none !important;
}

@each $name, $value in $base-breakpoints {
  @include breakpoint(null, $name) {
    /deep/ .hide-max-#{$name} {
      display: none;
    }
  }

  @include breakpoint($name, null) {
    /deep/ .hide-min-#{$name} {
      display: none;
    }
  }
}

// Define default card.
/deep/ .card {
  padding: map_get($base-padding, 'small');
  border-radius: $base-border-radius;
  background-color: map_get($base-colors, 'background-highlighted');
  box-shadow: map_get($base-shadow, 'default');
}

/deep/ .material-icons {
  font-size: inherit;
  line-height: inherit;
}

// App component.
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: map_get($base-colors, 'background');
  overflow: hidden;

  & /deep/ {
    font-family: $base-font-family;
    font-weight: $base-font-weight-normal;
    font-size: map_get($base-font-size, 'default');
    color: map_get($base-colors, 'primary-text');
    line-height: map_get($base-line-height, 'default');
  }
}
