<div class="wrapper">
	<div class="item" [style.transform]="itemTransformation">
		<div class="card" [@fadeIn]="true">
			<div class="image"></div>
			<h1>{{steps[0]}}</h1>
			<span>Some text 1</span>
		</div>
	</div>
	<div class="item" [style.transform]="itemTransformation">
		<div class="card">
			<div class="image"></div>
			<h1>{{steps[1]}}</h1>
			<span>Some text 2</span>
		</div>
	</div>
	<div class="item" [style.transform]="itemTransformation">
		<div class="card">
			<div class="image"></div>
			<h1>{{steps[2]}}</h1>
			<span>Some text 3</span>
		</div>
	</div>
	<div class="item" [style.transform]="itemTransformation">
		<div class="card">
			<div class="image"></div>
			<h1>{{steps[3]}}</h1>
			<span>Some text 4</span>
		</div>
	</div>
	<div class="item" [style.transform]="itemTransformation">
		<div class="card">
			<div class="image"></div>
			<h1>{{steps[4]}}</h1>
			<span>In order to show you all relevant rudels and events near you, rudl needs to access your location.</span>
			<styled-button [text]="grantedPermission ? 'Thank you!' : 'Grant Permission'" [disabled]="grantedPermission" (click)="grantPermission()"></styled-button>
		</div>
	</div>
</div>
<footer>
	<styled-button class="back" *ngIf="step > 0" [style]="buttonStyle" [text]="'Go back'" [routerLink]="[{step: step - 1}]"></styled-button>
	<styled-button class="next" *ngIf="step < steps.length - 1" [style]="buttonStyle" [text]="'Continue'" [routerLink]="[{step: step + 1}]"></styled-button>
	<styled-button class="done" *ngIf="step == steps.length - 1" [disabled]="!grantedPermission" [style]="buttonStyle" [text]="'Finish'" (click)="finishBoarding()"></styled-button>
	<indicator [indicators]="steps" [selectedIndex]="step" [interactive]="false"></indicator>
</footer>
