@import './variables.scss';

$landing-page-sidebar-width: 50rem;
$landing-page-background-color: #f7f7f7;

:host {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;

  .sidebar {
    flex-basis: $landing-page-sidebar-width;
    padding: map_get($base-padding, 'default');
  }

  .background {
    background-color: $landing-page-background-color;
  }
}
