@import './variables.scss';

$landing-page-sidebar-width: 20rem;
$landing-page-sidebar-dark-background-color: map_get($base-colors, 'background-inverse');
$landing-page-sidebar-bright-background-color: map_get($base-colors, 'background-highlighted');
$landing-page-content-size: 2rem;
$landing-page-vertical-padding: map_get($base-padding, 'smaller');
$landing-page-vertical-padding-mobile: map_get($base-padding, 'default');
$landing-page-horizontal-padding: map_get($base-padding, 'default');
$landing-page-indicator-size: 2rem;

:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;

  @include breakpoint('small'){
    flex-direction: row;
  }

  .sidebar {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    background-color: $landing-page-sidebar-dark-background-color;
    z-index: 1;

    @include breakpoint('small') {
      flex-basis: map_get($base-breakpoints, 'small') / 2;
      background-color: $landing-page-sidebar-bright-background-color;
    }

    & > div {
      padding: $landing-page-vertical-padding $landing-page-horizontal-padding;

      @include breakpoint(null, 'small') {
        background-color: $landing-page-sidebar-bright-background-color;
        margin-top: - map_get($base-padding, 'large');
        margin-left: $landing-page-horizontal-padding;
        margin-right: $landing-page-horizontal-padding;
        padding-top: $landing-page-vertical-padding-mobile;
        padding-bottom: $landing-page-vertical-padding-mobile;
      }

      h2 {
        @include breakpoint('small') {
        margin-top: map_get($base-padding, 'large');
        }
      }

      p {
        color: map_get($base-colors, 'secondary-text');
        line-height: 1.5;
      }
    }

    .legal {
      display: block;
      margin-top: auto;
      padding: 0 $landing-page-horizontal-padding $landing-page-vertical-padding;
      color: map_get($base-colors, 'secondary-text');

      @include breakpoint(null, 'small') {
        text-align: center;
        margin-top: $landing-page-vertical-padding-mobile;
        padding-bottom: $landing-page-vertical-padding-mobile;
      }
    }
  }

  @keyframes zoomIn {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.25);
    }
  }

  @keyframes pulse {
    25%, 75% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }

  .content {
    position: relative;
    z-index: 0;
    overflow: hidden;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: $landing-page-vertical-padding $landing-page-horizontal-padding;

    .background {
      height: auto;
      width: 100%;
      animation: zoomIn 30s ease-in-out infinite alternate;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    h1 {
      position: relative;
      max-width: map_get($base-breakpoints, 'small');
      margin-top: map_get($base-padding, 'large');
      margin-left: map_get($base-padding, 'large');

      @include breakpoint(null, 'small'){
        margin-bottom: 30%;
        text-align: center;
        margin-left: 0;
      }

      span {
        color: inactive(map_get($base-colors, 'primary'));

        &:first-child {
          color: map_get($base-colors, 'primary');
        }
      }
    }

    .indicator {
      font-size: $landing-page-indicator-size;
      color: map_get($base-colors, 'primary');
      opacity: 0.75;
      margin-bottom: calc(30% + #{map_get($base-padding, 'large')});
      animation: pulse 2s ease-in-out infinite;
    }
  }
}
