@import './variables.scss';

$landing-page-sidebar-width: 15rem;
$landing-page-background-color: #f7f7f7;
$landing-page-background-color: #fff;
$landing-page-content-size: 2rem;
$landing-page-vertical-padding: map_get($base-padding, 'smaller');
$landing-page-horizontal-padding: map_get($base-padding, 'default');

:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;

  @include breakpoint('small'){
    flex-direction: row;
  }

  .sidebar {
    flex: 0 0 auto;
    padding: map_get($base-padding, 'default');

    @include breakpoint('small'){
      flex-basis: $landing-page-sidebar-width;
    }

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex: 0 0 auto;
      padding: $landing-page-vertical-padding $landing-page-horizontal-padding;

      img {
        width: $landing-page-content-size;
        height: $landing-page-content-size;
        margin-right: map_get($base-padding, 'smaller');
      }

      span {
        font-family: $base-heading-font-family;
        font-weight: $base-heading-font-weight-normal;
        font-size: $landing-page-content-size;
        color: map_get($base-colors, 'primary');
      }
    }
  }

  .background {
    background-color: $landing-page-background-color;
    padding: $landing-page-vertical-padding $landing-page-horizontal-padding;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;

    div {
      flex: 0 1 auto;
      max-width: map_get($base-breakpoints, 'small') * 0.75;
      margin-bottom: map_get($base-padding, 'large');

      h1 {
        color: map_get($base-colors, 'secondary');
      }

      p {
        line-height: 1.5;
      }
    }
  }
}
