<div class="card" *ngIf="list">
	<div class="user" [routerLink]="['/people', list.owner.username]">
		<avatar [user]="list.owner"></avatar>
		<div>
			<span class="name">{{list.owner.firstName + ' ' + list.owner.lastName}}</span>
			<span class="username">{{list.owner.username}}</span>
		</div>
	</div>
	<h1>{{list.name}}</h1>
	<statistics [statistics]="[
		{value: list.statistics.activities, subject: 'Activities'},
		{value: list.statistics.followers, subject: 'Follower', link: 'follower'}
	]"></statistics>
	<div class="cta">
		<styled-button [style]="list.relations.isFollowed ? buttonStyleFollowing : buttonStyleDefault" (click)="onToggleFollow(true)" [disabled]="pendingFollowRequest" [text]="list.relations.isFollowed ? 'Following' : 'Follow'"></styled-button>
	</div>
</div>
<div class="content" *ngIf="list">
	<ul>
		<li *ngFor="let activity of activities">
			<activity-item [activity]="activity"></activity-item>
		</li>
	</ul>
</div>
<modal #modal>
	<question [choices]="modalChoices" [title]="'Are you sure to unfollow list?'" [description]='"Du bist der Ersteller dieser Liste. Durch das Entfolgen geht die Liste in den Besitz eines anderen Followers über. Listen ohne andere Follower werden gelöscht. Diese Aktion kann nicht rückgängig gemacht werden."'></question>
</modal>
