<div class="logo">
	<img src="../../assets/logo.svg">
	<span i18n>rudl</span>
</div>
<ng-container class="search-mode" *ngIf="inSearchMode">
	<search-bar class="stretched" [autoFocus]="true" #searchBar></search-bar>
	<button class="fa fa-search" (click)="searchBar.submit(true)"></button>
	<button class="fa fa-close" (click)="leaveSearchMode()"></button>
</ng-container>
<ng-container class="menu-mode" *ngIf="!inSearchMode">
	<tab-menu class="stretched" [(tabItems)]="tabItems"></tab-menu>
	<button class="fa fa-search" (click)="enterSearchMode()"></button>
	<dropdown-menu [(menuItems)]="menuItems" #dropdownMenu></dropdown-menu>
	<avatar [user]="userStatus.user" (click)="dropdownMenu.toggle()"></avatar>
</ng-container>
