<div class="card" *ngIf="user">
	<avatar [user]="user"></avatar>
	<div class="about">
		<h1>{{user.firstName + ' ' + user.lastName}}</h1>
		<span class="username">{{user.username}}</span>
		<span class="description">{{user.meta.profileText || 'This is ' + user.firstName + '!'}}</span>
	</div>
	<div class="statistics">
		<statistics [statistics]="[
		{value: user.statistics.lists, subject: 'Liste(n)', link: tabItems['lists'].link},
		{value: user.statistics.followees, subject: 'Folgt', link: tabItems['followees'].link},
		{value: user.statistics.followers, subject: 'Follower', link: tabItems['followers'].link}
		]"></statistics>
		<div class="cta" *ngIf="!!user.relations">
			<styled-button [style]="user.relations.isFollowee ? buttonStyleFollowing : buttonStyleDefault" (click)="onToggleFollow()" [disabled]="pendingFollowRequest" [text]="user.relations.isFollowee ? 'Following' : 'Follow'"></styled-button>
			<styled-button [style]="buttonStyleDefault" [routerLink]="'/message'" [fa]="'commenting-o'"></styled-button>
		</div>
	</div>
</div>
<div class="content">
	<tab-menu [tabItems]="tabItems" [activeTabItem]="tab"></tab-menu>
	<item-wrapper *ngIf="tab === tabItems['activities']">
		<li *ngFor="let activity of activities">
			<activity-item [activity]="activity"></activity-item>
		</li>
	</item-wrapper>
	<item-wrapper [columns]="2" *ngIf="tab === tabItems['lists']">
		<li *ngFor="let list of lists">
			<list-item [list]="list"></list-item>
		</li>
		<span *ngIf="lists.length == 0">No Lists yet</span>
	</item-wrapper>
	<item-wrapper *ngIf="tab === tabItems['followees']">
		<li *ngFor="let followee of followees">
			<people-item [user]="followee"></people-item>
		</li>
		<span *ngIf="followees.length == 0">No Followees yet</span>
	</item-wrapper>
	<item-wrapper *ngIf="tab === tabItems['followers']">
		<li *ngFor="let follower of followers">
			<people-item [user]="follower"></people-item>
		</li>
		<span *ngIf="followers.length == 0">No Followers yet</span>
	</item-wrapper>
</div>
