@import './variables.scss';

$profile-avatar-size: 5rem;

:host {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  & > .card {
    flex: 1 1 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: $profile-avatar-size * 0.33 + map_get($base-padding, 'default');
    margin-top: $profile-avatar-size * 0.66;

    avatar {
      position: absolute;
      top: -$profile-avatar-size * 0.66;
      left: 50%;
      margin-left: -$profile-avatar-size / 2;
      height: $profile-avatar-size;
      width: $profile-avatar-size;
    }

    .statistics {
      flex: 1 1 auto;
      margin: map_get($base-padding, 'default') map_get($base-padding, 'smallest') map_get($base-padding, 'smallest');

      .cta {
        display: flex;
        justify-content: space-between;

        styled-button {

          /deep/ button {
            margin-bottom: 0;
          }

          &:first-child {
            flex: 1 1 auto;
            margin-right: map_get($base-padding, 'small');
          }
        }
      }
    }

    .about {
      flex: 1 1 auto;
      text-align: center;

      h1 {
        margin-top: 0;
        margin-bottom: map_get($base-padding, 'small');
      }

      span {
        color: map_get($base-colors, 'secondary-text');
      }
    }
  }

  & > .content {
    flex: 1 1 auto;
    margin-top: $profile-avatar-size * 0.66;
    margin-left: map_get($base-padding, 'default');

    tab-menu {
      margin-bottom: map_get($base-padding, 'default');
    }

    ul {
      list-style: none;
      margin-bottom: map_get($base-padding, 'default');

      li:not(first-child) {
        margin-top: map_get($base-padding, 'smaller');
      }
    }
  }
}
