<section *ngIf="searchValue">
	<h1 i18n>Rudel</h1>
	<item-wrapper class="results" [ngClass]="{expanded: !collapsedActivities}">
		<li class="card create" [ngClass]="{expanded: expandedActivityCreation}">
			<div class="title" (click)="expandedActivityCreation = true">
				<span i18n>Kein passendes Rudel dabei? Bilde ein neues Rudel</span> <span #highlightedActivity class="highlight">{{searchValue}}</span>
			</div>
			<create-activity [@container]="expandedActivityCreation" (@container.start)="$event.toState && highlightedActivity.style.display = 'none'" (@container.done)="$event.fromState && highlightedActivity.style.display = 'inline'" [defaultName]="searchValue" (onCanceled)="expandedActivityCreation = false"></create-activity>
		</li>
		<li *ngFor="let activity of activities">
			<activity-item [highlight]="searchValue" [activity]="activity"></activity-item>
		</li>
	</item-wrapper>
</section>
<section *ngIf="searchValue">
	<h1 i18n>Lists</h1>
	<item-wrapper class="results" [ngClass]="{expanded: !collapsedLists}">
		<li class="card create" [ngClass]="{expanded: expandedListCreation}">
			<div class="title" (click)="expandedListCreation = true">
				<span i18n>Create new list</span> <span #highlightedList class="highlight">{{searchValue}}</span>
			</div>
			<create-list [@container]="expandedListCreation" (@container.start)="$event.toState && highlightedList.style.display = 'none'" (@container.done)="$event.fromState && highlightedList.style.display = 'inline'" [defaultName]="searchValue" (onCanceled)="expandedListCreation = false"></create-list>
		</li>
		<li *ngFor="let list of lists">
			<list-item [highlight]="searchValue" [list]="list"></list-item>
		</li>
	</item-wrapper>
</section>
<section *ngIf="users && users.length > 0">
	<h1 i18n>People</h1>
	<item-wrapper class="results" [ngClass]="{collapsed: collapsedUsers}">
		<li *ngFor="let user of users">
			<people-item [highlight]="searchValue" [user]="user"></people-item>
		</li>
	</item-wrapper>
</section>
