$base-padding: (
  'large': 4rem,
  'larger': 3rem,
  'default': 2rem,
  'smaller': 1rem,
  'small' : 0.75rem,
  'smallest' : 0.25rem
);
$base-font-family: 'Lato';
$base-border-radius: 0.25rem;
$base-font-weight-normal: 400;
$base-font-weight-bold: 700;
$base-font-size: (
  'large': 1.15rem,
  'default': 1rem,
  'small': 0.85rem
);
$base-line-height: (
  'default': 1.15,
  'multiline': 1.5
);
$base-heading-font-family: 'Fredoka One';
$base-heading-font-weight-normal: 400;
$base-heading-font-bold-normal: $base-heading-font-weight-normal;
$base-heading-font-size: (
  'h1': 1.7rem,
  'h2': 1.4rem,
  'h3': 1.15rem,
  'h4': 1rem,
  'h5': 0.85rem
);

@function inactive($color) {
  @return transparentize(desaturate($color, 100%), 0.77);
}

$base-line-widths: (
  'large': 0.5rem,
  'larger': 0.25rem,
  'default': 0.1rem
);

$base-colors: (
  'primary': #50e3c2,
  'secondary': #00cbb9,
  'primary-text': #4f4e52,
  'secondary-text': #a09da3,
  'warning-text': #a31420,
  'background': #fafafa,
  'background-highlighted': #fff,
  'background-inverse': #c2c2c2,
  'swipe-like': #50e3c2,
  'swipe-dislike': #ea8484
);

$base-shadow: (
  'default': 0 0.1rem 0.15rem rgba(0, 0, 0, 0.0375),
  'elevated': 0 0.25rem 0.25rem rgba(0, 0, 0, 0.01875),
  'modal': 0 0.5rem 1rem rgba(0, 0, 0, 0.1)
);

$base-breakpoints: (
  'small': 40rem,
  'medium': 55rem
);

$base-max-width: (
  'medium': map_get($base-breakpoints, 'medium'),
  'small': map_get($base-breakpoints, 'small')
);

@mixin breakpoint($min-breakpoint: null, $max-breakpoint: null) {
  $min-breakpoint: map-get($base-breakpoints, $min-breakpoint);
  $max-breakpoint: map_get($base-breakpoints, $max-breakpoint);
  $query: "all";

  @if $min-breakpoint != null and $max-breakpoint != null {
    $query: "(min-width: #{$min-breakpoint}) and (max-width: #{$max-breakpoint})";
  } @else if $min-breakpoint != null {
    $query: "(min-width: #{$min-breakpoint})";
  } @else if $max-breakpoint != null {
    $query: "(max-width: #{$max-breakpoint})";
  }

  @media #{$query} {
    @content;
  }
}

@mixin setup-max-width() {
  $first-key: nth(map_keys($base-max-width), 1);
  @if($first-key) {
    max-width: map_get($base-max-width, $first-key);
    margin-left: auto;
    margin-right: auto;
  }

  @each $name, $value in $base-max-width {
    @include breakpoint(null, $name) {
      max-width: map_get($base-max-width, $name);
    }
  }
}

@mixin setup-input() {
  $input-field-input-font-size: map_get($base-font-size, 'default');
  $input-field-input-padding: $input-field-input-font-size / 1.5; // --> 1 / 1.5 = 0.666

  resize: none;
  width: 100%;
  display: inline-block;
  color: map_get($base-colors, 'primary-text');
  padding: $input-field-input-padding;
  margin-bottom: map_get($base-padding, 'small');
  font-size: $input-field-input-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight-normal;
  line-height: map_get($base-line-height, 'default');
  border: map_get($base-line-widths, 'default') inactive(map_get($base-colors, 'secondary')) solid;
  border-radius: $base-border-radius;
  outline: none;

  &::placeholder {
    color: inactive(map_get($base-colors, 'primary-text'));
  }

  &:focus {
    border-color: map_get($base-colors, 'secondary');
  }
}
