<form [formGroup]="form" *ngIf="!successfulRequest">
    <form-control-wrapper [description]="'Gebe deine **E-Mail** an' | format" [errorMessages]="{
		required: 'Bitte gebe eine E-Mail-Adresse an.',
		email: 'Deine E-Mail-Adresse ist nicht korrekt.'
	}">
        <input formControlName="mail" type="email">
    </form-control-wrapper>
    <styled-button class="auth-button-mail" (click)="submit()" [icon]="'mail'" [text]="'Passwort anfordern'" [disabled]="pendingRequest"></styled-button>
</form>
<span class="success-message" *ngIf="successfulRequest" i18n="@@successfulPasswordRequest">If we found your mail in our system, you´ll find further instructions to reset your password in your mailbox.</span>
<small>
	<span i18n="@@goBackToLogin">You remember your password?</span>
	<a [routerLink]="['/sign-in']" i18n="@@signIn">Sign In</a>
</small>
