<form [formGroup]="form" *ngIf="!successfulRequest">
    <form-control-wrapper [description]="'Gib deine **E-Mail** an' | format" [errorMessages]="{
		required: 'Bitte gib eine E-Mail-Adresse an.',
		email: 'Deine E-Mail-Adresse ist nicht korrekt.'
	}">
        <input formControlName="mail" type="email">
    </form-control-wrapper>
     <span class="failed-message" *ngIf="completedRequest" i18n="@@failedPasswordRequest">We were unable to locate your mail in our database.</span>
    <styled-button class="auth-button-mail" (click)="submit()" [icon]="'mail'" [text]="'Passwort anfordern'" [disabled]="pendingRequest"></styled-button>
</form>
<span class="success-message" *ngIf="successfulRequest" i18n="@@successfulPasswordRequest">You´ll find further instructions to reset your password in your mailbox.</span>
<small>
	<span i18n="@@goBackToLogin">You remember your password?</span>
	<a [routerLink]="['/sign-in']" i18n="@@signIn">Sign In</a>
</small>
