<form [formGroup]="form" *ngIf="!successfulRequest">
    <form-control-wrapper [description]="'Gebe ein starkes **Passwort** ein' | format" [errorMessages]="{
            required: 'Bitte gebe ein Passwort an.',
            minlength: 'Dein Passwort ist zu kurz (mindestens 6 Zeichen).'
        }" [infoMessage]="formControlCount(form.get('password').value, 32)">
        <input formControlName="password" maxlength="32" type="password">
    </form-control-wrapper>
    <form-control-wrapper [description]="'Wiederhole das **Passwort**' | format" [errorMessages]="{
            required: 'Bitte gebe ein Passwort an.',
            minlength: 'Dein Passwort ist zu kurz (mindestens 6 Zeichen).',
            nomatch: 'Dein Passwort stimmt nicht überein.'
        }" [infoMessage]="formControlCount(form.get('password').value, 32)">
        <input formControlName="confirmPassword" maxlength="32" type="password">
    </form-control-wrapper>
    <span class="failed-message" *ngIf="completedRequest" i18n="@@failedPasswordChange">Your link is not valid anymore. We sent you a new link.</span>
    <styled-button class="auth-button-mail" (click)="submit()" [icon]="'mail'" [text]="'Passwort ändern'" [disabled]="pendingRequest"></styled-button>
</form>
<span class="success-message" *ngIf="successfulRequest" i18n="@@successfulPasswordChange">We´ve just changed your password, <a [routerLink]="['/sign-in']">sign in</a> again.</span>
<small>
	<span i18n="@@goBackToLogin">You remember your password?</span>
	<a [routerLink]="['/sign-in']" i18n="@@signIn">Sign In</a>
</small>
