@import '../../variables';

:host {
  display: block;

  styled-button,
  styled-button /deep/ button {
    width: 100%;
  }

  small {
    color: map_get($base-colors, 'secondary-text');
    display: block;
    text-align: center;

    a {
      font-weight: $base-font-weight-bold;
      color: map_get($base-colors, 'primary-text');
    }
  }

  .success-message {
    font-size: map_get($base-font-size, 'small');
    color: map_get($base-colors, 'primary-text');
    padding: map_get($base-padding, 'small');
    border: map_get($base-line-widths, 'default') solid map_get($base-colors, 'primary');
    display: block;
    margin-bottom: map_get($base-padding, 'small');
    text-align: center;
    border-radius: $base-border-radius;

    a {
      font-weight: $base-font-weight-bold;
    }
  }
}
