@import './../variables.scss';

:host {

  item-wrapper {
    border: map_get($base-line-widths, 'default') map_get($base-colors, 'primary') solid;

    &.disabled {
      opacity: 0.5;
    }

    li {
      display: flex;
      padding: map_get($base-padding, 'smaller');
      cursor: pointer;

      i {
        flex: 0 0 auto;
        margin-left: map_get($base-padding, 'small');
        display: none;
      }

      span {
        flex: 1 0 auto;
      }

      &.checked {
        span {
          opacity: 1;
        }

        i {
          &.fa-check {
            display: inline-block;
          }
        }
      }

      &:not(.checked) {
        span {
          opacity: 0.5;
        }

        i {
          &.fa-plus {
            display: inline-block;
            opacity: 0.5;
          }
        }
      }
    }
  }
}
