@import './../variables.scss';

:host {
  position: relative;
  display: block;

  div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;

    &.plain {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: map_get($base-colors, 'primary');

      svg {
        width: 100%;
        height: 100%;
        font-family: $base-heading-font-family;
        fill: map_get($base-colors, 'background');
        text-transform: uppercase;
      }
    }
  }
}
