@import './../variables.scss';

:host {
  .background,
  .content-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .background {
    background: map_get($base-colors, 'background');
    z-index: 1000;
  }

  .content-wrapper {
    overflow: auto;
    z-index: 1001;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    .content {
      flex: 1 1 auto;
      max-width: 55rem;
      max-height: 80vh;
      padding: map_get($base-padding, 'smaller');
    }
  }
}
