@import './../variables.scss';

$input-field-label-font-size: map_get($base-font-size, 'default') * 0.95;
$input-field-input-font-size: map_get($base-font-size, 'default') * 1.05;
$input-field-border-size: 0.1rem;
$input-field-border-radius: 0.25rem;
$input-field-input-padding: $input-field-input-font-size / 1.5; // --> 1 / 1.5 = 0.666
$input-field-colors: (
  'border': map_get($base-colors, 'secondary')
);

:host {
  display: block;
  margin-top: map_get($base-padding, 'small');
  margin-bottom: map_get($base-padding, 'small');

  label {
    font-size: $input-field-label-font-size;
    display: inline-block;

    .emphasize {
      font-weight: $base-font-weight-bold;
    }
  }

  input {
    width: 100%;
    display: inline-block;
    margin-top: map_get($base-padding, 'small');
    line-height: 1;
    padding: $input-field-input-padding;
    font-size: $input-field-input-font-size;

    &::placeholder {
      color: inactive(map_get($input-field-colors, 'border'));
    }

    border: $input-field-border-size inactive(map_get($input-field-colors, 'border')) solid;
    border-radius: $input-field-border-radius;
    outline: none;

    &:focus {
      border-color: map_get($input-field-colors, 'border');
    }
  }
}
