@import './../variables.scss';

$list-margin: map_get($base-padding, 'smaller');
$list-breakpoint-two-columns: 40rem;

:host {
  display: block;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    & > /deep/ * {
      flex: 0 0 100%;
    }

    &.two-columns > /deep/ * {
      @media screen and (min-width: $list-breakpoint-two-columns) {
        flex: 0 0 50%;
      }
    }

    &:not(.no-margins) {
      margin: -$list-margin;

      & > /deep/ * {
        margin: $list-margin;
        flex: 0 0 calc(100% - #{$list-margin * 2});
      }

      &.two-columns > /deep/ * {
        @media screen and (min-width: $list-breakpoint-two-columns) {
          flex: 0 0 calc(50% - #{$list-margin * 2});
        }
      }
    }
  }
}
