@import './../variables.scss';

:host {
  $list-margin: map_get($base-padding, 'smaller');
  $list-breakpoint-two-columns: 40rem;
  $flex-offset: $list-margin * 2;

  ul {
    list-style: none;
    margin: - $list-margin;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    & > /deep/ * {
      flex: 0 0 calc(100% - #{$flex-offset});
      margin: $list-margin;
    }

    &.two-columns > /deep/ * {
      @media screen and (min-width: $list-breakpoint-two-columns) {
        flex: 0 0 calc(50% - #{$flex-offset});
      }
    }
  }
}
