@import './../variables.scss';

$list-margin: map_get($base-padding, 'smaller');

:host {
  display: block;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;

    & > /deep/ * {
      flex: 0 0 100%;
    }

    &.two-columns > /deep/ * {
      @include breakpoint('small') {
        flex: 0 0 50%;
      }
    }

    &:not(.no-margins) {
      & > /deep/ * {
        margin-top: $list-margin;

        &:nth-child(1) {
          margin-top: 0;
        }
      }

      @include breakpoint('small') {
        &.two-columns > /deep/ * {
          flex: 0 0 calc(50% - #{$list-margin / 2});

         &:nth-child(2) {
            margin-top: 0;
          }
        }
      }
    }
  }
}
