<div class="social-login">
    <styled-button [style]="facebookButtonStyle" [link]="'/oauth/facebook'"
            [text]="'Authenticate with Facebook'"></styled-button>
    <styled-button [style]="googleButtonStyle" [link]="'/oauth/google'"
            [text]="'Authenticate with Google'"></styled-button>
</div>

<!--
<p class="text-divider">
	<span>Or authenticate via mail</span>
</p>

<form [formGroup]="user" [ngClass]="{hide: isCollapsed}">
	<div [ngClass]="{hide: !(signInOnly || indicatorComponent.selectedIndex == 0)}">
		<form-control-wrapper [description]="'Enter ' + (signInOnly ? 'your' : 'an') + ' **username**' | format" [errorMessages]="{
			required: 'Bitte gebe einen Usernamen an.',
			minlength: 'Dein Username ist zu kurz (mindestens 5 Zeichen).',
			pattern: 'Dein Username darf nur Kleinbuchstaben, Zahlen und Unterstriche enthalten.'
		}">
			<input id="username" formControlName="username" maxlength="16" placeholder="{{placeholders.username}}" type="text">
		</form-control-wrapper>
		<form-control-wrapper [ngClass]="{hide: signInOnly}" [description]="'Enter your **email address**' | format" [errorMessages]="{
			required: 'Bitte gebe eine E-Mail-Adresse an.',
			email: 'Deine E-Mail-Adresse ist nicht korrekt.'
		}">
			<input id="mail" formControlName="mail" placeholder="{{placeholders.mail}}" type="email">
		</form-control-wrapper>
		<form-control-wrapper [description]="'Enter ' + (signInOnly ? 'your' : 'a strong') + ' **password**' | format" [errorMessages]="{
			required: 'Bitte gebe ein Passwort an.',
			minlength: 'Dein Passwort ist zu kurz (mindestens 6 Zeichen).'
		}">
			<input id="password" formControlName="password" maxlength="32" placeholder="{{placeholders.password}}" type="password">
		</form-control-wrapper>
	</div>
	<div [ngClass]="{hide: !(!signInOnly && indicatorComponent.selectedIndex == 1) }">
		<form-control-wrapper [description]="'Enter your **firstname**' | format" [errorMessages]="{
			required: 'Bitte gebe einen Vornamen an.'
		}">
			<input id="firstName" maxlength="24" formControlName="firstName" placeholder="{{placeholders.firstName}}" type="text">
		</form-control-wrapper>
		<form-control-wrapper [description]="'Enter your **lastname**' | format" [errorMessages]="{
			required: 'Bitte gebe einen Nachnamen an.'
		}">
			<input id="lastName" maxlength="24" formControlName="lastName" placeholder="{{placeholders.lastName}}" type="text">
		</form-control-wrapper>
	</div>
	<indicator [ngClass]="{hide: signInOnly}" [steps]="2"></indicator>
</form>
<styled-button class="auth-button-mail" (click)="onClickMailButton()" [icon]="'mail'" [text]="(signInOnly ? 'Sign In with Mail' : ( isCollapsed || indicatorComponent.selectedIndex == 1 ? 'Sign Up with Mail' : 'Continue'))"></styled-button>

<small>
	<span>{{ signInOnly ? 'You want to sign up?' : 'Have an account already?' }}</span>
	<a (click)="onToggleMethod()">{{signInOnly ? 'Sign up' : 'Sign In' }}</a>
</small>

-->

