@import '../variables.scss';

$login-text-divider-color: map_get($base-colors, 'secondary-text');
$login-text-divider-line-size: map_get($base-font-size, 'default') * 0.05;
$login-text-divider-font-size: map_get($base-font-size, 'default') * 0.75;

:host {
  display: block;

  .text-divider {
    text-align: center;
    overflow: hidden;
    display: block;

    & > span {
      position: relative;
      display: inline-block;
      color: $login-text-divider-color;
      font-size: $login-text-divider-font-size;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        width: 30rem;
        height: $login-text-divider-line-size;
        background: $login-text-divider-color;
      }

      &:before {
        right: 100%;
        margin-right: map_get($base-padding, 'small');
      }

      &:after {
        left: 100%;
        margin-left: map_get($base-padding, 'small');
      }
    }
  }

  styled-button,
  styled-button /deep/ button {
    width: 100%;
  }

  small {
    color: map_get($base-colors, 'secondary-text');
    display: block;
    text-align: center;

    a {
      font-weight: $base-font-weight-bold;
      color: map_get($base-colors, 'primary-text');
    }
  }

  .terms-info {
    margin-top: map_get($base-padding, 'smaller');
    margin-bottom: map_get($base-padding, 'smaller');
  }
}
