<div class="social-login">
	<styled-button [style]="facebookButtonStyle" [fa]="'facebook'" [link]="'/oauth/facebook'" [text]="'Authenticate with Facebook'"></styled-button>
	<styled-button [style]="googleButtonStyle" [link]="'/oauth/google'" [fa]="'google'" [text]="'Authenticate with Google'"></styled-button>
</div>

<p class="text-divider">
	<span>Or authenticate via mail</span>
</p>

<div [ngClass]="{hide: isCollapsed}">
	<div [ngClass]="{hide: !(signInOnly || indicatorComponent.selectedIndex == 0)}">
		<input id="username" placeholder="{{'Enter ' + (signInOnly ? 'your' : 'an') + ' **username**' | highlight }}" type="text">
		<input [ngClass]="{hide: signInOnly}" id="email" placeholder="{{'Enter your **email address**' | highlight }}" type="email">
		<input id="password" placeholder="{{'Enter ' + (signInOnly ? 'your' : 'a strong') + ' **password**' | highlight }}" type="password">
	</div>
	<div [ngClass]="{hide: !(!signInOnly && indicatorComponent.selectedIndex == 1) }">
		<input id="firstname" placeholder="{{'Enter your **firstname**' | highlight }}" type="text">
		<input id="lastname" placeholder="{{'Enter your **lastname**' | highlight }}" type="text">
	</div>
	<indicator [ngClass]="{hide: signInOnly}" [indicators]="['Basic Information', 'Personal Information']"></indicator>
</div>
<styled-button class="auth-button-mail" (click)="onClickMailButton()" [fa]="'envelope'" [text]="(signInOnly ? 'Sign In with Mail' : ( isCollapsed || indicatorComponent.selectedIndex == 1 ? 'Sign Up with Mail' : 'Continue'))"></styled-button>

<small>
	<span>{{ signInOnly ? 'You want to sign up?' : 'Have an account already?' }}</span>
	<a (click)="onToggleMethod()">{{signInOnly ? 'Sign up' : 'Sign In' }}</a>
</small>

