<div class="social-login">
	<styled-button [ngClass]="'auth-button-facebook'" [fa]="'facebook'" [link]="'/oauth/facebook'"
			[text]="'Authenticate with Facebook'"></styled-button>
	<styled-button [ngClass]="'auth-button-google'" [link]="'/oauth/google'" [fa]="'google'"
			[text]="'Authenticate with Google'"></styled-button>
</div>

<p class="text-divider">
	<span>Or authenticate via mail</span>
</p>

<div [ngClass]="{hide: isCollapsed}">
	<div [ngClass]="{hide: !(signInOnly || indicatorComponent.selectedIndex == 0)}">
		<input-field [id]="'username'" [description]="'Enter ' + (signInOnly ? 'your' : 'an') + ' **username**'"
				[type]="'text'"></input-field>
		<input-field [ngClass]="{hide: signInOnly}" [id]="'email'" [description]="'Enter your **email address**'"
				[type]="'mail'"></input-field>
		<input-field [id]="'password'" [description]="'Enter ' + (signInOnly ? 'your' : 'a strong') + ' **password**'"
				[type]="'password'"></input-field>
	</div>
	<div [ngClass]="{hide: !(!signInOnly && indicatorComponent.selectedIndex == 1) }">
		<input-field [id]="'firstname'" [description]="'Enter your **firstname**'" [type]="'text'"></input-field>
		<input-field [id]="'lastname'" [description]="'Enter your **lastname**'" [type]="'text'"></input-field>
	</div>
	<indicator [ngClass]="{hide: signInOnly}" [indicators]="['Basic Information', 'Personal Information']"></indicator>
</div>
<styled-button class="auth-button-mail" (click)="onClickMailButton()" [fa]="'envelope'"
		[text]="(signInOnly ? 'Sign In with Mail' : ( isCollapsed || indicatorComponent.selectedIndex == 1 ? 'Sign Up with Mail' : 'Continue'))"></styled-button>

<small>
	<span>{{ signInOnly ? 'You want to sign up?' : 'Have an account already?' }}</span>
	<a (click)="onToggleMethod()">{{signInOnly ? 'Sign up' : 'Sign In' }}</a>
</small>

