@import '../variables.scss';
@import "../mixins.scss";

$logo-size: 2rem;
$logo-font-family: $base-heading-font-family;
$logo-font-weight: $base-heading-font-weight;

:host {
  display: block;

  div {
    flex-direction: row;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    img {
      width: $logo-size;
      height: $logo-size;
    }

    span {
      font-family: $logo-font-family;
      font-weight: $logo-font-weight;
      font-size: $logo-size * 0.75;
      color: map_get($base-colors, 'primary');
      margin-left: map_get($base-padding, 'small');
      display: none;

      @include breakpoint('small') {
        margin-left: map_get($base-padding, 'smaller');
        font-size: $logo-size;
        display: block;
      }
    }
  }
}
