@import './../variables.scss';

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    max-width: 30rem;
    width: 100%;
    flex: 0 0 auto;

    header {
      .title {

      }

      .close {

      }
    }
  }
}
