<img class="logo" src="../../../assets/logo.svg">
<span class="name hide-max-small" i18n>rudl</span>
<div class="stretched">
	<div class="search" [ngClass]="{active: inSearchMode}">
		<search-bar #searchBar></search-bar>
		<button class="fa fa-close" [routerLink]="lastUrl"></button>
	</div>
	<tab-menu class="menu" [ngClass]="{active: !inSearchMode}" [(tabItems)]="tabItems"></tab-menu>
</div>
<dropdown-menu [(menuItems)]="menuItems" #dropdownMenu></dropdown-menu>
<avatar [user]="userStatus.user" (click)="dropdownMenu.toggle()"></avatar>
