@import './../variables.scss';

$header-background-color: #fff;
$header-content-size: 2rem;
$header-vertical-padding: map_get($base-padding, 'smaller');
$header-vertical-padding-mobile: map_get($base-padding, 'smaller');
$header-horizontal-padding: map_get($base-padding, 'default');
$header-horizontal-padding-mobile: map_get($base-padding, 'smaller');

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $header-background-color;
  padding-left: $header-horizontal-padding-mobile;
  padding-right: $header-horizontal-padding-mobile;
  height: $header-vertical-padding-mobile * 2 + $header-content-size;

  @include breakpoint('small') {
    padding-left: $header-horizontal-padding;
    padding-right: $header-horizontal-padding;
    height: $header-vertical-padding-mobile * 2 + $header-content-size;
  }

  .logo {
    width: $header-content-size;
    height: $header-content-size;
  }

  .name {
    font-family: $base-heading-font-family;
    font-weight: $base-heading-font-weight-normal;
    font-size: $header-content-size * 0.75;
    color: map_get($base-colors, 'primary');
    margin-left: map_get($base-padding, 'small');

    @include breakpoint('small') {
      margin-left: map_get($base-padding, 'smaller');
      font-size: $header-content-size;
    }
  }

  .stretched {
    display: flex;
    align-items: stretch;
    flex: 1 1 auto;
    align-self: stretch;
    margin-right: map_get($base-padding, 'small');
    margin-left: map_get($base-padding, 'small');
    position: relative;
    overflow: hidden;

    @include breakpoint('small') {
      margin-right: map_get($base-padding, 'default');
      margin-left: map_get($base-padding, 'default');
    }

    & > * {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 0;

      &.active {
        z-index: 1;
      }
    }

    .search {
      transform: translateY( - $header-content-size);
      transition: transform 0.3s, opacity 0.3s;
      opacity: 0;

      &.active {
        opacity: 1;
        transform: translateY(0);
      }

      search-bar {
        flex: 1 1 auto;
      }
    }

    .menu {
      transition: transform 0.3s, opacity 0.3s;
      transform: translateY( $header-content-size);
      opacity: 0;

      &.active {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  dropdown-menu {
    top: $header-content-size + $header-vertical-padding * 2;
    right: $header-horizontal-padding;
  }

  button {
    flex: 0 0 auto;
    width: $header-content-size;
    height: $header-content-size;
    cursor: pointer;
    background: transparent;
    font-size: 1rem * 1.125;

    &:not(:last-child) {
      margin-right: map_get($base-padding, 'small');
    }
  }

  avatar {
    flex: 0 0 auto;
    width: $header-content-size;
    height: $header-content-size;
    cursor: pointer;
  }
}
