@import './../variables.scss';

$header-background-color: #fff;
$header-content-size: 2rem;
$header-vertical-padding: map_get($base-padding, 'smaller');
$header-vertical-padding-mobile: map_get($base-padding, 'smaller');
$header-horizontal-padding: map_get($base-padding, 'default');
$header-horizontal-padding-mobile: map_get($base-padding, 'smaller');

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $header-background-color;
  padding: $header-vertical-padding-mobile $header-horizontal-padding-mobile;

  @include breakpoint('small') {
    padding: $header-vertical-padding $header-horizontal-padding;
  }

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 auto;

    img {
      width: $header-content-size;
      height: $header-content-size;
      margin-right: map_get($base-padding, 'small');

      @include breakpoint('small') {
        margin-right: map_get($base-padding, 'smaller');
      }
    }

    span {
      font-family: $base-heading-font-family;
      font-weight: $base-heading-font-weight-normal;
      font-size: $header-content-size * 0.75;
      color: map_get($base-colors, 'primary');

      @include breakpoint('small') {
        font-size: $header-content-size;
      }
    }
  }

  .stretched {
    flex: 1 0 auto;
    margin-right: map_get($base-padding, 'small');
    margin-left: map_get($base-padding, 'small');

    @include breakpoint('small') {
      margin-right: map_get($base-padding, 'default');
      margin-left: map_get($base-padding, 'default');
    }
  }

  dropdown-menu {
    position: absolute;
    top: $header-content-size + $header-vertical-padding * 2;
    right: $header-horizontal-padding;
  }

  button {
    flex: 0 0 auto;
    width: $header-content-size;
    height: $header-content-size;
    cursor: pointer;
    background: transparent;
    font-size: 1rem * 1.125;

    &:not(:last-child) {
      margin-right: map_get($base-padding, 'small');
    }
  }

  avatar {
    flex: 0 0 auto;
    width: $header-content-size;
    height: $header-content-size;
    cursor: pointer;
  }
}
