@import './../variables.scss';

:host {
  .description {
    color: map_get($base-colors, 'secondary-text');
    line-height: map_get($base-line-height, 'multiline');
    display: block;
  }

  footer {
    display: flex;
    flex-direction: column;
    margin-top: map_get($base-padding, 'default');

    styled-button {
      margin: 0;

      /deep/ button {
        margin-top: 0;
      }

      &:last-child /deep/ button {
        margin-bottom: 0;
      }
    }
  }
}
