@import '../variables';

:host {
  display: block;

  ul {
    list-style: none;
    align-items: flex-end;
    display: flex;
    justify-content: space-between;

    li {
      display: inline-block;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: map_get($base-padding, 'small');
      }

      span {
        text-align: center;
        display: block;
        color: map_get($base-colors, 'secondary-text');

        &.value {
          font-family: $base-heading-font-family;
        }

        &.subject {
          margin-top: map_get($base-padding, 'smallest');
          font-size: map_get($base-font-size, 'small');
        }
      }
    }
  }
}
