@import './../variables.scss';
@import "tab-menu.component.scss";

:host {
  ul {
    justify-content: flex-start;

    & > * {
      padding-right: map_get($base-padding, 'smaller');
      padding-left: map_get($base-padding, 'smaller');

      &.active {
        background-color: map_get($base-colors, 'background-highlighted');
        cursor: default;
        border-radius: $base-border-radius $base-border-radius 0 0;
        box-shadow: 0.15rem 0 0 rgba(0, 0, 0, 0.0125);
      }
    }
  }
}
