@import '../../variables';

$dropdown-menu-arrow-size: 0.5rem;
$dropdown-menu-border-size: 0.1rem;
$dropdown-menu-background-color: #fff;
$dropdown-menu-arrow-center-right-offset: 1rem;

:host {
  position: absolute;

  .background {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
  }

  .dropdown {
    position: relative;
    z-index: 101;
    border: $dropdown-menu-border-size solid map_get($base-colors, 'primary');
    list-style: none;
    background: $dropdown-menu-background-color;
    box-shadow: 0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.1);

    &:after, &:before {
      $arrow-size: $dropdown-menu-arrow-size;

      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 100%;
      right: $dropdown-menu-arrow-center-right-offset - $arrow-size;
      border-style: solid;
      border-width: 0 $arrow-size $arrow-size $arrow-size;
      border-color: transparent transparent map_get($base-colors, 'primary') transparent;
    }

    &:after {
      $arrow-size: $dropdown-menu-arrow-size - $dropdown-menu-border-size;

      border-width: 0 $arrow-size $arrow-size $arrow-size;
      right: $dropdown-menu-arrow-center-right-offset - $arrow-size;
      border-color: transparent transparent $dropdown-menu-background-color transparent;
    }

    /deep/ menu-item {
      padding: map_get($base-padding, 'smaller');
      color: map_get($base-colors, 'primary-text');
    }
  }
}
