@import '../../variables';

:host {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  & /deep/ menu-item {
    @include breakpoint(null, 'small') {
      span {
        display: none !important;
      }

      i {
        margin-right: 0;
      }
    }
  }
}
