Hi <span>{{name}}</span>,

somebody requested the reset of your account's password. If you requested it, set your password via {{{resetPasswordLink}}} again.

Your rudl-Team

Edit notification settings here: {{{notificationSettingsLink}}}
{{#each address}}
    {{this}}
{{/each}}
