@import '../../variables.scss';
@import '../../mixins.scss';

:host {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include breakpoint(null, 'small') {
    flex-direction: column-reverse;
  }

  .material-icons {
    margin: 0 0.25rem;
    color: map_get($base-colors, 'secondary-text');
  }

  small {
    color: map_get($base-colors, 'secondary-text');

    &:first-of-type {
      margin-right: auto;
    }

    @include breakpoint(null, 'small') {
      margin-left: auto;
      margin-right: auto;

      &:first-of-type {
        margin-top: map_get($base-padding, 'small');
      }
    }
  }

  a {
    color: map_get($base-colors, 'secondary-text');
  }
}
