@import '../../variables.scss';
@import '../../mixins.scss';

:host {
  display: block;

  .add-invitee {
    margin-top: map_get($base-padding, 'larger');
    @include setup-input(false);
    width: 100%;

    &.card {
      padding: 0;
    }
  }

  item-wrapper {
    &:not(.empty) {
      margin-top: map_get($base-padding, 'default');

      & ~ item-wrapper {
        margin-top: map_get($base-padding, 'large');
      }
    }
  }

  user-item {
    dropdown-menu {
      right: 0;
      top: 100%;
    }

    styled-button {
      margin-bottom: 0;
    }
  }
}
