<div *ngIf="expedition.getValue()" class="card" [ngClass]="{applicant: expedition.getValue().relations.isAttendee}">
    <aside [routerLink]="['/rudel', expedition.getValue().rudel.id]">
        <emoji [emoji]="expedition.getValue().rudel.links.icon"></emoji>
        <span i18n="@@expeditionRudelInfo">Expedition of rudel "{{expedition.getValue().rudel.name}}"</span>
    </aside>
    <header>
        <div class="title">
            <emoji [emoji]="expedition.getValue().links.icon"></emoji>
            <h1>{{expedition.getValue().title}}</h1>
        </div>
        <div class="description">{{expedition.getValue().description}}</div>
        <div class="statistics">
            <statistics [statistics]="[
			{value: expedition.getValue().statistics.attendees, subject: 'Teilnehmer', link: ['attendees']},
			{value: formattedLocation, subject: 'Entfernung'},
			{value: formattedDate, subject: expedition.getValue().date.accuracy > 0 ? 'Grober Zeitpunkt' : 'Zeitpunkt'}
		]"></statistics>
            <div class="cta">
                <styled-button
                        [style]="expedition.getValue().relations.isAttendee || expedition.getValue().relations.isApplicant ? buttonStyleActivated : buttonStyleDefault"
                        [disabled]="pendingAttendanceRequest" (click)="onToggleAttendance(true)"
                        [text]="attendanceStatus"></styled-button>
                <!--TODO Add edit button
                <styled-button [icon]="'edit'" *ngIf="expedition.getValue().relations.isOwned"></styled-button>-->
            </div>
        </div>
    </header>
</div>
<menu>
    <menu-item [makeRoomIfSmall]="true" [icon]="'comment'" [title]="'Diskussion'" [link]="['discussion']"></menu-item>
    <menu-item [makeRoomIfSmall]="true" [icon]="'map'" [title]="'Karte'" [link]="['map']"></menu-item>
    <menu-item [makeRoomIfSmall]="true" [icon]="'people_outline'" [title]="'Teilnehmer'" [link]="['attendees']"></menu-item>
</menu>
<router-outlet></router-outlet>
<modal #removeModal [title]="'Streifzug wirklich absagen?'">
    <question [choices]="modalChoices"
            [description]='"Möchtest du diesen Streifzug wirklich absagen? Diese Aktion kann nicht rückgängig gemacht werden."'></question>
</modal>
