@import '../../variables.scss';
@import '../../mixins.scss';

:host {
  display: block;

  item-wrapper {
    margin-top: map_get($base-padding, 'default');
    margin-bottom: map_get($base-padding, 'larger');
  }

  form {
    margin-top: map_get($base-padding, 'larger');
    display: flex;
    flex-direction: column;

    @include breakpoint('small') {
      flex-direction: row;
    }

    form-control-wrapper {
      flex: 1 1 auto;
      padding: 0;

      ::ng-deep div {
        margin-bottom: 0;
        border: none;
      }

      &.card {
        padding: 0;
      }
    }

    styled-button {
      margin-bottom: 0;
      flex: 0 0 auto;

      @include breakpoint(null, 'small') {
        margin-top: map_get($base-padding, 'small');
      }

      @include breakpoint('small') {
        margin-left: map_get($base-padding, 'smaller');
      }
    }
  }
}
