<div class="card">
	<h3>{{expedition.title}}</h3>
	<p>{{expedition.description}}</p>
	<slots [users]="[expedition.owner]" [slots]="expedition.statistics.approvedUsers"></slots>
	<ul class="users-info">
		<li>
			<span>{{expedition.owner.firstName + ' ' + expedition.owner.lastName}}</span>
		</li>
		<li>
			<span i18n>{{formattedAwaitingApproval}}</span>
		</li>
	</ul>
	<ul class="event-info">
		<li>
			<i class="fa fa-map-marker"></i>
			<span>{{formattedLocation}}</span>
		</li>
		<li>
			<i class="fa fa-clock-o"></i>
			<span>{{formattedDate}}</span>
		</li>
	</ul>
</div>
<map [zoom]="14" [location]="expedition.location"></map>
<empty [emptyState]="unapprovedState" *ngIf="!expedition.relations.isApproved"></empty>
<section *ngIf="expedition.relations.isApproved">
	Approved!
	Comments
</section>

<small class="attribution">Maps provided by © <a target="_blank" href="https://openstreetmap.org/copyright">OpenStreetMap</a> Contributors via <a target="_blank" href="http://leafletjs.com">Leaflet</a></small>

