@import '../../variables.scss';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  map {
    padding: 0;
    height: calc(100% - #{map_get($base-padding, 'default') * 2});
    align-self: stretch;
    position: relative;
    border-radius: $base-border-radius;
    z-index: 1;
    margin-bottom: map_get($base-padding, 'default');
  }

  .attribution {
    opacity: 0.5;
    color: map_get($base-colors, 'secondary-text');
    display: block;
    text-align: center;

    a {
      color: map_get($base-colors, 'primary-text');

      &:hover {
        text-decoration: underline;
      }
    }
  }

  styled-button {
    margin-bottom: map_get($base-padding, 'default');
  }
}
