@import '../../variables.scss';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  map {
    padding: 0;
    height: calc(75vh - #{map_get($base-padding, 'default') * 2});
    align-self: stretch;
    position: relative;
    border-radius: $base-border-radius;
    z-index: 1;
  }

  styled-button {
    margin-top: map_get($base-padding, 'default');
  }
}
