<div class="card" [ngClass]="{applicant: expedition.relations.isAttendee}">
	<aside [routerLink]="['/rudel', expedition.rudel.id]">
		<emoji [emoji]="expedition.rudel.links.icon"></emoji>
		<span i18n>Streifzug des Rudels "{{expedition.rudel.name}}"</span>
	</aside>
	<header>
		<div class="title">
			<emoji [emoji]="expedition.links.icon"></emoji>
			<h1>{{expedition.title}}</h1>
		</div>
		<div class="description">{{expedition.description}}</div>
		<div class="statistics">
			<statistics [statistics]="[
			{value: expedition.statistics.attendees, subject: 'Teilnehmer', link: ['attendees']},
			{value: formattedLocation, subject: 'Entfernung', link: ['attendes']},
			{value: formattedDate, subject: expedition.date.accuracy > 0 ? 'Grober Zeitpunkt' : 'Zeitpunkt', link: ['attendes']}
		]"></statistics>
			<div class="cta">
				<styled-button [style]="expedition.relations.isAttendee ? buttonStyleActivated : buttonStyleDefault" [disabled]="pendingApprovalRequest" [text]="'Teilnahme anfragen'"></styled-button>
				<styled-button [fa]="'pencil'" *ngIf="expedition.relations.isOwned"></styled-button>
			</div>
		</div>
	</header>
</div>
<menu>
	<menu-item [makeRoomIfSmall]="true" [icon]="'comments-o'" [title]="'Diskussion'" [link]="['discussion']"></menu-item>
	<menu-item [makeRoomIfSmall]="true" [icon]="'map-o'" [title]="'Karte'" [link]="['map']"></menu-item>
	<menu-item [makeRoomIfSmall]="true" [icon]="'user-o'" [title]="'Teilnehmer'" [link]="['attendees']"></menu-item>
</menu>
<router-outlet></router-outlet>
