<div class="content">
	<div>
		<input-field [type]="'text'" [placeholder]="'Give your event a title...'"></input-field>
		<input-field [type]="'textarea'" [placeholder]="'Enter a short summary of all public details here...'"></input-field>
		<checkbox [value]="'Zugangsbeschränkung'"></checkbox>
		<checkbox [value]="'Öffentliche Uhrzeit'"></checkbox>
	</div>
	<div>
		<datetime [dateTime]="'30-12-2018 12:34'" [locale]="'de'"></datetime>
		<locationpicker [location]="userService.getAuthenticatedUser().user.location"></locationpicker>
		<invite></invite>
	</div>
</div>
<div class="buttons">
	<styled-button (click)="submit()" [text]="'Create'"></styled-button>
	<styled-button (click)="cancel()" [style]="buttonStyle" [text]="'Abbrechen'"></styled-button>
</div>
