@import '../../variables';

:host {
  display: block;

  map {
    height: 15rem;
    border-radius: $base-border-radius;
    margin-bottom: map_get($base-padding, 'small');
  }

  input, textarea {
    @include setup-input();
  }

  textarea {
    line-height: map_get($base-line-height, 'multiline');
  }

  .split-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint('small') {
      flex-direction: row;
    }

    & > div {
      flex: 0 1 50%;

      @include breakpoint('small') {
        &:last-child {
          margin-left: map_get($base-padding, 'default');
        }
      }

      @include breakpoint(null, 'small') {
        flex: 0 1 auto;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    styled-button {
      flex: 0 0 auto;

      & /deep/ button {
        margin-bottom: 0;
      }
    }
  }
}
