<form class="form-wrapper" [formGroup]="form">
    <carousel #carousel (index)="setCarouselIndex($event)">
        <carousel-slide class="split">
            <div class="content">
                <translation-list [defaultText]="defaultName"
                        [takenTranslations]="form.controls.translations"></translation-list>
            </div>
            <div class="content info">
                <h2 i18n="@@createRudelTranslationTitle">Name of rudel</h2>
                <p i18n="@@createRudelTranslationDescription">Each rudel is an individual interest group, e.g. "Go Running" or "Meetup at the café".</p>
            </div>
        </carousel-slide>
        <carousel-slide class="split">
            <div class="content info">
                <h2 i18n="@@createRudelIconTitle">Add an icon!</h2>
                <p i18n="@@createRudelIconDescription">The icon increases the memorability of your rudel!</p>
            </div>
            <div class="content">
                <form-control-wrapper>
                    <emoji-picker formControlName="icon"></emoji-picker>
                </form-control-wrapper>
            </div>
        </carousel-slide>
    </carousel>
    <footer>
        <styled-button class="back" *ngIf="carouselIndex == 0" [style]="cancelButtonStyle" [text]="'Abbrechen'"
                (click)="cancel()"></styled-button>
        <styled-button class="back" *ngIf="carouselIndex > 0" [disabled]="submitPending" [text]="'Zurück'"
                (click)="carousel.back()"></styled-button>
        <styled-button class="next" *ngIf="carouselIndex < 2 - 1" [disabled]="submitPending" [text]="'Weiter'"
                (click)="carousel.next()"></styled-button>
        <styled-button class="done" *ngIf="carouselIndex == 2 - 1" [disabled]="submitPending" (click)="submit()"
                [text]="'Erstellen'"></styled-button>
        <indicator [steps]="2" [selectedStep]="carouselIndex"></indicator>
    </footer>
</form>
