@import '../../variables';
@import "../../mixins";

:host {
  display: block;

  .split {
    display: flex;
    flex-direction: column;

    & > * {
      flex: 1 1 auto;
    }

    @include breakpoint('small') {
      flex-direction: row;

      & > * {
        flex: 1 1 50%;
      }
    }
  }

  .content {
    margin: 0 map_get($base-padding, 'smaller') map_get($base-padding, 'smaller');

    & > p {
      margin-bottom: map_get($base-padding, 'default');
    }
  }

  footer {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    position: relative;

    styled-button {
      margin: 0;
      position: relative;
      flex: 0 0 auto;
      z-index: 2;

      &.done,
      &.next {
        margin-left: auto;
      }

      &.back {
        margin-right: auto;
      }
    }

    indicator {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
  }
}
