<div [routerLink]="['/rudel', rudel.id]" class="{{getStyleClass()}}">
    <emoji [emoji]="rudel.links.icon"></emoji>
    <span class="name" [innerHTML]="highlight ? (rudel.name | highlight: highlight) : rudel.name"></span>
    <div class="likees">
        <slots [users]="[rudel.owner]" [slots]="rudel.statistics.likers"></slots>
        <span>{rudel.statistics.likers, plural, =1 {1 Mitglied} other {{{rudel.statistics.likers}} Mitglieder}}</span>
    </div>
    <div class="overflow" (click)="$event.stopPropagation()">
        <ng-content></ng-content>
    </div>
</div>
