<div [routerLink]="['/rudel', rudel.id]" class="{{getStyleClass()}}">
    <emoji [emoji]="rudel.links.icon"></emoji>
    <h2 [innerHTML]="highlight ? (rudel.name | highlight: highlight) : rudel.name"></h2>
    <footer>
        <user-avatar [user]="rudel.owner"></user-avatar>
        <span i18n="@@rudelItemLikees">{rudel.statistics.likers, plural, =1 {1 member} other {{{rudel.statistics.likers}} members}}</span>
    </footer>
    <aside class="overflow" (click)="$event.stopPropagation()">
        <ng-content></ng-content>
    </aside>
</div>
