@import '../../variables.scss';
@import '../../mixins.scss';

$rudel-item-list-emoji-size: 2.5rem;
$rudel-item-block-emoji-size: 4rem;
$rudel-item-block-user-avatar-size: 2rem;
$rudel-item-block-user-avatar-size-mobile: 1.5rem;
$rudel-item-list-user-avatar-size: 2rem;
$rudel-item-list-user-avatar-size-mobile: 1.5rem;

:host {
  display: block;

  .card {
    cursor: pointer;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    emoji {
      flex: 0 0 auto;
    }

    h2 {
      display: block;
      width: 100%;
      margin-left: map_get($base-padding, 'smaller');
      margin-right: map_get($base-padding, 'smaller');
      flex: 1 1 auto;
      min-width: 0;

      & ::ng-deep .highlight {
        color: map_get($base-colors, 'primary');
      }
    }

    footer {
      display: flex;
      align-items: center;

      user-avatar {
        flex: 0 0 auto;
      }

      span {
        color: map_get($base-colors, 'secondary-text');
        font-size: map_get($base-font-size, 'small');
        white-space: nowrap;
      }
    }

    .overflow {
      position: absolute;
      top: 0;
      right: 0;
      bottom: auto;
      pointer-events: none;
      display: flex;
      flex-direction: row;
      align-items: center;

      & ::ng-deep > * {
        pointer-events: auto;
      }
    }

    &.block {
      flex-direction: column;

      emoji {
        height: $rudel-item-block-emoji-size;
        width: $rudel-item-block-emoji-size;
      }

      h2 {
        margin-top: map_get($base-padding, 'default');
        text-align: center;
      }

      footer {
        flex-direction: row;

        user-avatar {
          height: $rudel-item-block-user-avatar-size;
          width: $rudel-item-block-user-avatar-size;
          margin-right: map_get($base-padding, 'small');

          @include breakpoint(null, 'small') {
            height: $rudel-item-block-user-avatar-size-mobile;
            width: $rudel-item-block-user-avatar-size-mobile;
          }
        }
      }
    }

    &.list {
      emoji {
        height: $rudel-item-list-emoji-size;
        width: $rudel-item-list-emoji-size;
      }

      h2 {
        margin: 0 map_get($base-padding, 'smaller');
      }

      footer {
        margin-left: auto;

        @include breakpoint(null, 'small') {
          flex-direction: column;
          align-items: flex-end;
        }

        user-avatar {
          height: $rudel-item-list-user-avatar-size;
          width: $rudel-item-list-user-avatar-size;

          @include breakpoint('small') {
            margin-right: map_get($base-padding, 'small');
          }

          @include breakpoint(null, 'small') {
            height: $rudel-item-list-user-avatar-size-mobile;
            width: $rudel-item-list-user-avatar-size-mobile;
            margin-bottom: map_get($base-padding, 'smallest');
          }
        }
      }
    }
  }
}
