@import '../../variables';

$legal-vertical-padding: map_get($base-padding, 'smaller');
$legal-vertical-padding-mobile: map_get($base-padding, 'smaller');
$legal-horizontal-padding: map_get($base-padding, 'default');
$legal-horizontal-padding-mobile: map_get($base-padding, 'smaller');

:host {
  background-color: map_get($base-colors, 'background');

  header {
    background-color: map_get($base-colors, 'background-highlighted');
    padding: $legal-vertical-padding-mobile $legal-horizontal-padding-mobile;

    @include breakpoint('small') {
      padding: $legal-vertical-padding $legal-horizontal-padding;
    }
  }

  section {
    margin-top: map_get($base-padding, 'default');
    padding: $legal-vertical-padding-mobile $legal-horizontal-padding-mobile;

    @include breakpoint('small') {
      padding: $legal-vertical-padding $legal-horizontal-padding;
    }
  }
}
