<div class="card" i18n="@@legalTerms">
    <h1>Nutzungsbedingungen</h1>
    <p>
        Die nachfolgenden Nutzungsbedingungen regeln die kostenlose Nutzung des Webdienstes "rudl.me" (nachfolgend "Rudl") und registrierter Nutzer (nachfolgend "Mitgliedschaft").
    </p>
    
    <h2>Mitgliedschaft</h2>
    <ul>
        <li>Die Mitgliedschaft kommt durch die Bestätigung deiner Mitgliedschaft zustande.</li>
        <li>Die während der Anmeldung gemachten Angaben müssen wahrheitsgetreu angegebegen werden.</li>
        <li>Du darfst keine doppelten Konten auf Rudl unterhalten.</li>
        <li>Die Zugangsdaten musst du stets geheim halten. Wir werden dich niemals nach deinem Passwort fragen. Bei Missbrauch kontaktiere uns frühzeitig.</li>
        <li>Die unbefristete Mitgliedschaft kann von dir und uns jederzeit gekündigt werden.</li>
    </ul>
    
    <h2>Nutzung</h2>
    <ul>
        <li>Während der Nutzung von Rudl verpflichtest du dich, die geltenden gesetzlichen Vorschriften einzuhalten, einschließlich der Beachtung von Persönlichkeitsrechten von Nutzern und dem Urheberrecht von Fotos und anderen schutzwürdigen Inhalten.</li>
        <li>Du bleibst der Inhaber deiner eigenen Inhalte auf Rudl. Sofern an deinen Inhalten ein Schutzrecht besteht, gewährst du Rudl mit deiner Nutzung ein nicht-exklusives, zeitlich-unbeschränktes, räumlich-unbeschränktes und, sofern erforderlich, übertragbares Recht, deinen Inhalt zum Betrieb von Rudl zu verwenden.</li>
        <li>Es ist dir untersagt, persönliche Informationen anderer Nutzer auf Rudl zu veröffentlichen. Sofern du nicht nach Nutzern auf Rudl suchst, ist es dir außerhalb deiner Profileinstellungen untersagt, weder persönliche Daten von dir, noch persönliche Daten anderer Nutzer auf Rudl einzugeben. Diese Inhalte können unter Umständen zu einem späteren Zeitpunkt an andere Nutzer übertragen werden. In diesem Fall verlierst du die Möglichkeit diese Inhalte zu bearbeiten.</li>
        <li>Eine gewerbliche Nutzung von Rudl ist untersagt.</li>
        <li>Die Inhalte von Nutzern werden von Rudl nicht vorab geprüft und behalten es uns vor, Inhalte und Mitgliedschaften jederzeit zu sperren und zu löschen, insbesondere bei Kenntnissetzung des Rechtsverstoßes an Rudl.</li>
    </ul>
    
    <h2>Sonstige Bestimmungen</h2>
    <ul>
        <li>Rudl kann jederzeit und ohne Vorankündigung dessen Datenschutzrichtlinien und Nutzungsbedingungen ändern. Eine Änderung wird mit der Veröffentlichung auf dieser Seite wirksam. Mitglieder werden zusätzlich über die vom Mitglied bekanntgegebene Email-Adresse informiert. Es gelten die jeweils beim Besuch der Websites gültigen Bedingungen.</li>
        <li>Die Nutzung und der Betrieb von Rudl untersteht deutschem Recht.</li>
        <li>Sollten einzelne Bestimmungen der Nutzungsbedingungen und Datenschutzrichtlinien unwirksam sein, so treten an deren Stelle Bestimmungen, die deren Zweck am nächsten sind. Bei einzelnen unwirksamen Bestimmungen bleibt der Rest wirksam.</li>
    </ul>
</div>
