<header>
    <logo></logo>
</header>
<section>
    <div class="card">
        <h1 i18n>Imprint</h1>
        <p>rudl.me ist ein Service von</p>
        <p>
            <span>Angaben gemäß § 5 TMG</span>
            <span>Jan Wolf</span>
            <span>Kleine Helle 41</span>
            <span>28195 Bremen</span>
            <span>we@rudl.me</span>
        </p>
    </div>
    <div class="card">
        <h1 i18n>Nutzungsbedingungen</h1>
        <p>
            Die nachfolgenden Nutzungsbedingungen regeln die kostenlose Nutzung des Webdienstes "rudl.me" (nachfolgend "Rudl") und registrierter Nutzer (nachfolgend "Mitgliedschaft").
        </p>
    
        <h2>Mitgliedschaft</h2>
        <ul>
            <li>Die Mitgliedschaft kommt durch die Bestätigung deiner Mitgliedschaft zustande.</li>
            <li>Die während der Anmeldung gemachten Angaben müssen wahrheitsgetreu angegebegen werden.</li>
            <li>Du darfst keine doppelten Konten auf Rudl unterhalten.</li>
            <li>Die Zugangsdaten musst du stets geheim halten. Wir werden dich niemals nach deinem Passwort fragen. Bei Missbrauch kontaktiere uns frühzeitig.</li>
            <li>Die unbefristete Mitgliedschaft kann von dir und uns jederzeit gekündigt werden.</li>
        </ul>
        
        <h2>Nutzung</h2>
        <ul>
            <li>Während der Nutzung von Rudl verpflichtest du dich, die geltenden gesetzlichen Vorschriften einzuhalten, einschließlich der Beachtung von Persönlichkeitsrechten von Nutzern und dem Urheberrecht von Fotos und anderen schutzwürdigen Inhalten.</li>
            <li>Du bleibst der Inhaber deiner eigenen Inhalte auf Rudl. Sofern an deinen Inhalten ein Schutzrecht besteht, gewährst du Rudl mit deiner Nutzung ein nicht-exklusives, zeitlich-unbeschränktes, räumlich-unbeschränktes und, sofern erforderlich, übertragbares Recht, deinen Inhalt zum Betrieb von Rudl zu verwenden.</li>
            <li>Eine gewerbliche Nutzung von Rudl ist untersagt.</li>
            <li>Die Inhalte von Nutzern werden von Rudl nicht vorab geprüft und behalten es uns vor, Inhalte und Mitgliedschaften jederzeit zu sperren und zu löschen, insbesondere bei Kenntnissetzung des Rechtsverstoßes an Rudl.</li>
        </ul>
    
        <h2>Sonstige Bestimmungen</h2>
        <ul>
            <li>Rudl kann jederzeit und ohne Vorankündigung dessen Datenschutzrichtlinien und Nutzungsbedingungen ändern. Eine Änderung wird mit der Veröffentlichung auf dieser Seite wirksam. Mitglieder werden zusätzlich über die vom Mitglied bekanntgegebene Email-Adresse informiert. Es gelten die jeweils beim Besuch der Websites gültigen Bedingungen.</li>
            <li>Die Nutzung und der Betrieb von Rudl untersteht deutschem Recht.</li>
            <li>Sollten einzelne Bestimmungen der Nutzungsbedingungen und Datenschutzrichtlinien unwirksam sein, so treten an deren Stelle Bestimmungen, die deren Zweck am nächsten sind. Bei einzelnen unwirksamen Bestimmungen bleibt der Rest wirksam.</li>
        </ul>
    </div>
    <div class="card">
        <h1 i18n>Datenschutzbestimmungen</h1>
        <p>
            Die nachfolgenden Datenschutzbestimmungen informieren über die Erhebung, Verarbeitung und Nutzung persönlicher Daten von registrierten Nutzern (nachfolgend "Mitglieder") durch den Webdienst "rudl.me" (nachfolgend "Rudl"), die sich entschlossen haben, Rudl zu nutzen. Der Schutz deiner Daten ist uns sehr wichtig, bei etwaigen Fragen kontaktiere uns gerne über die am Seitenanfang angegebene Email-Adresse. Die Erhebung, Verarbeitung und Nutzung der Daten von Mitgliedern erfolgt selbstverständlich unter Beachtung der Vorschriften des einschlägigen deutschen und europäischen Datenschutzrechtes.
        </p>
    
        <h2>Verschlüsselte Übertragung und Datensicherheit</h2>
        <ul>
            <li>Jeglicher Datentransfer zwischen dir und Rudl erfolgt ausschließlich in verschlüsselter Form. Als Verschlüsselungstechnik nutzen wir den weitverbreiteten und annerkannten Secure Socket Layer (SSL) - Standard.</li>
            <li>Es wurden entsprechende technische Vorkehrung getroffen, um deine Daten in einer sicheren Umgebung zu speichern.</li>
            <li>Auf deinem Computer wird bei erfolgreicher Anmeldung im LocalStorage deines Browsers eine Zeichenkette hinterlegt, die das erneute Anmelden für den jeweiligen Browser unnötig macht. Stelle auf einem fremden Computer daher unbedingt sicher, dass du dich von Rudl abmeldest.</li>
        </ul>
    
        <h2>Anmeldung über Facebook und Google</h2>
        <ul>
            <li>Die Anmeldung auf Rudl erfolgt freiwillig über dein Profil auf Google oder Facebook. Beide Firmen stellen einen Anmelde- und Authentifizierungsdienst zur Verfügung, der mit dem jeweiligen Profil des Dienstes verbunden ist. Dabei werden von beiden Firmen personenbezogene Daten erhoben und in den USA verarbeitet. Weitere Informationen erhälst du in der Datenschutzerklärung von <a target="_blank" href="https://developers.google.com/identity/protocols/OAuth2">Google</a> und <a target="_blank" href="https://www.facebook.com/help/405977429438260">Facebook</a>.</li>
            <li>Wir nutzen die jeweils hinterlegte Email-Adresse und deinen Vor- und Nachnamen zur automatischen Generierung deines Profils auf Rudl. Diese Daten sind in deinem Google- oder Facebookprofil hinterlegt.</li>
            <li>Solltest du bei der Anmeldung die Freigabe auf ein entsprechendes Google- oder Facebookprofil nicht autorisieren, werden keine persönlichen Daten an uns weitergeben. Eine automatische Generierung deines Profils auf Rudl ist damit für uns nicht möglich und eine Mitgliedschaft kommt nicht zustande.</li>
        </ul>
        
        <h2>Sichtbarkeit deiner Daten</h2>
        <ul>
            <li>Nach der Anmeldung ist dein Vor- und Nachname für alle Mitglieder einsehbar.</li>
            <li>Aus deinem Vor- und Nachnamen generieren wir deinen Benutzernamen. Der Benutzername ist für alle Mitglieder einsehbar.</li>
            <li>Du kannst deinen Vor- und Nachnamen nach der Anmeldung über die Profileinstellungen jederzeit ändern, sollten diese Angaben nicht stimmen.</li>
        </ul>
        
        <h2>Personenbezogene Datenverwendung</h2>
        <p>Wir verwenden die personenbezogenen Daten, die du uns aktiv mitteilst. Dies schließt alle etwaigen Eingaben innerhalb eines Rudels, Streifzugs, Kommentars, Eingaben in der Suche und einem Nutzerprofil ein. Die freigegebenen Profilinformationen deines Google- oder Facebookkontos werden ebenfalls miteinbezogen, siehe "Anmeldung über Facebook und Google".</p>
        
        <h2>Nicht personenbezogene Datenverwendung</h2>
        <ul>
            <li>Zur Verbesserung und Auswertung unserer Dienste nutzen wir die Nutzungsprofile unter Pseudonymnamen im Rahmen der gesetzlichen Bestimmungen.</li>
            <li>Die pseudonymisierten Daten werden im Rahmen der vom verantwortlichen Seitebetreiber laufenden Masterarbeit an der Universität Bremen ausgewertet.</li>
            <li>Zu keiner Zeit werden nicht anonymisierte Daten an Dritte weitergegeben.</li>
        </ul>
    </div>
</section>

