<header>
    <logo></logo>
</header>
<section>
    <menu>
        <menu-item [makeRoomIfSmall]="true" [title]="'Verantwortlicher'" [link]="['about']" [icon]="'face'"></menu-item>
        <menu-item [makeRoomIfSmall]="true" [title]="'Nutzungsbedingungen'" [link]="['terms']" [icon]="'account_balance'"></menu-item>
        <menu-item [makeRoomIfSmall]="true" [title]="'Datenschutzbestimmungen'" [link]="['privacy']" [icon]="'fingerprint'"></menu-item>
    </menu>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</section>

