<div class="card" i18n="@@legalAbout">
    <h1>Verantwortlicher</h1>
    <p>rudl.me ist ein Service von</p>
    <p class="address">
        <span>Angaben gemäß § 5 TMG</span>
        <span>Jan Wolf</span>
        <span>Dürkheimer Straße 75</span>
        <span>28325 Bremen</span>
        <span>we@rudl.me</span>
    </p>
    <p>Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit. Die Plattform finden Sie unter <a href="https://webgate.ec.europa.eu/odr/" rel="nofollow" target="_blank">https://webgate.ec.europa.eu/odr/</a>.</p>
</div>


<div class="card" i18n="@@legalDisclaimer">
    <h1>Haftungsausschluss</h1>
    <p>Für Inhalte externer Links bzw. Internetseiten übernimmt "rudl.me" keine Verantwortung und distanziert sich ausdrücklich von diesen Inhalten. Ausgeschlossen ist auch eine Haftung oder Garantie für die Aktualität, Richtigkeit und Vollständigkeit der verfügbar gestellten Informationen. Sobald jedoch gegenüber "rudl.me" rassistische, pornographische oder rechtswidrige Inhalte auf den verlinkten fremden Seiten bekannt werden sollten, werden diese Links unverzüglich entfernt.</p>
</div>

<div class="card" i18n="@@legalCopyright">
    <h1>Licenses</h1>
    <p>rudl.me uses Open Source Software. The following list contains all attributions for software and additional components that requires a several attribution.</p>
    <ul>
        <li>
            Emoji artwork is provided by <a target="_blank" href="https://www.emojione.com" rel="nofollow">EmojiOne</a> and is licensed under <a href="https://creativecommons.org/licenses/by/4.0/legalcode" rel="nofollow" target="_blank">CC-BY 4.0</a>.
        </li>
        <li>
            Location services provided by <a rel="nofollow" target="_blank" href="https://www.mapzen.com/rights">Mapzen</a>,  <a rel="nofollow" target="_blank" href="https://openstreetmap.org/copyright">OpenStreetMap</a> and <a rel="nofollow" target="_blank" href="https://www.mapzen.com/rights/#services-and-data-sources">others</a>.
        </li>
        <li>
            The illustrations of wolf-paintings had been designed by Marie Kollarczyk.
        </li>
    </ul>
</div>