@import '../../variables.scss';
@import "../../mixins.scss";

$legal-background-color: #fff;
$legal-content-size: 2rem;
$legal-vertical-padding: map_get($base-padding, 'smaller');
$legal-vertical-padding-mobile: map_get($base-padding, 'smaller');
$legal-horizontal-padding: map_get($base-padding, 'default');
$legal-horizontal-padding-mobile: map_get($base-padding, 'smaller');

:host {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding-top: $legal-vertical-padding-mobile * 2 + $legal-content-size;

  @include breakpoint('small') {
    padding-top: $legal-vertical-padding * 2 + $legal-content-size;
  }

  header {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: map_get($base-shadow, 'default');
    background-color: $legal-background-color;
    padding-left: $legal-horizontal-padding-mobile;
    padding-right: $legal-horizontal-padding-mobile;
    height: $legal-vertical-padding-mobile * 2 + $legal-content-size;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;

    @include breakpoint('small') {
      padding-left: $legal-horizontal-padding;
      padding-right: $legal-horizontal-padding;
      height: $legal-vertical-padding * 2 + $legal-content-size;
    }
  }

  section {
    @include setup-default-padding();
    @include setup-max-width();

    menu {
      padding-top: map_get($base-padding, 'smaller');
      padding-bottom: map_get($base-padding, 'smaller');
      margin-bottom: map_get($base-padding, 'smaller');
    }
  }
}
