<section class="sidebar">
	<div>
		<logo></logo>
		<h2 i18n><!--Sei Teil der Community, verbinde dich jetzt!-->Im Sommer geht's los!</h2>
		<p i18n>Zusammen mit der Community empfiehlt dir rudl neue Aktivitäten, ganz nach deinem Geschmack. Du hinterlegst all jene Aktivitäten, von denen du träumst, schwärmst oder die du noch heute beginnst. Komm mit ins Team, joine uns im Sommer hier auf rudl.me :)</p>
		<styled-button (click)="openExternalLink('https://docs.google.com/forms/d/e/1FAIpQLSeMl5H65jBg67wuSBc38oKDHeqBZqhMRAyTrsIChV28K_3EqQ/viewform')" [text]="'Benachrichtigen lassen'"></styled-button>
		<login *ngIf="showLogin"></login>
	</div>
	<legal-footer></legal-footer>
</section>
<section class="content">
	<img class="background" src="../../../../assets/landing-page/background.png">
	<h1>
		<span>Eine neue Stadt besucht und gleich nette Leute getroffen. Check!</span>
		<span>Bei rudl einfach und entspannt die eigene Stadt kennenlernen, gleichgesinnte Menschen finden und die Freizeitgestaltung transparenter und einfach planbar gestalten.</span>
	</h1>
	<div class="fa fa-chevron-down hide-min-small indicator"></div>
</section>

