<section class="sidebar">
    <div>
        <logo></logo>
        <h2 i18n="@@landingTitle">Be part of the community and connect now!</h2>
        <p i18n="@@landingDescription">In conjunction with the growing community, rudl recommends you interesting activities that match your taste. You let us know of things you dream of or such activities you start today. Join the team, connect with us now! :)</p>
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</section>
<router-outlet name="content"></router-outlet>