@import '../../variables.scss';
@import "../../mixins.scss";

$landing-page-sidebar-background-color: map_get($base-colors, 'background-highlighted');
$landing-page-vertical-padding: map_get($base-padding, 'smaller');
$landing-page-vertical-padding-mobile: map_get($base-padding, 'default');
$landing-page-horizontal-padding: map_get($base-padding, 'default');

:host {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  flex: 1 0 auto;

  @include breakpoint('small') {
    flex-direction: row;
  }

  .sidebar {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: $landing-page-sidebar-background-color;

    @include breakpoint('small') {
      flex-basis: map_get($base-breakpoints, 'small') / 2;
    }

    & > div {
      padding: $landing-page-vertical-padding $landing-page-horizontal-padding;

      @include breakpoint(null, 'small') {
        background-color: $landing-page-sidebar-background-color;
        padding-top: $landing-page-vertical-padding-mobile;
        padding-bottom: $landing-page-vertical-padding-mobile;
      }

      h2 {
        @include breakpoint('small') {
          margin-top: map_get($base-padding, 'large');
        }
      }

      p {
        color: map_get($base-colors, 'secondary-text');
        line-height: 1.5;
      }
    }

    app-footer {
      margin-top: auto;
    }
  }

  @keyframes zoomIn {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.25);
    }
  }

  @keyframes pulse {
    25%, 75% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }
}
