@import '../../variables';
@import "../../mixins";

:host {
  display: block;
  @include setup-max-width();
  padding: map_get($base-padding, 'default');

  ul {
    list-style: none;
    margin-bottom: map_get($base-padding, 'default') + map_get($base-heading-font-size, 'h3');

    li:not(first-child) {
      margin-top: map_get($base-padding, 'smaller');
    }
  }
}
