@import '../../variables';

:host {
  display: block;

  location-picker {
    height: 15rem;
  }

  .split-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint('small') {
      flex-direction: row;
    }

    & > div {
      flex: 0 1 50%;

      @include breakpoint('small') {
        &:last-child {
          margin-left: map_get($base-padding, 'default');
        }
      }

      @include breakpoint(null, 'small') {
        flex: 0 1 auto;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: map_get($base-padding, 'default');

    styled-button {
      flex: 0 0 auto;

      & /deep/ button {
        margin-bottom: 0;
      }
    }
  }
}
