@import '../../variables';

:host {
  display: block;

  .card {
    cursor: pointer;

    emoji {
      margin: map_get($base-padding, 'smaller') auto;
    }

    h2 {
      text-align: center;
    }

    p {
      color: map_get($base-colors, 'secondary-text');
      margin-left: map_get($base-padding, 'smaller');
      margin-right: map_get($base-padding, 'smaller');
    }

    footer {
      margin-top: map_get($base-padding, 'default');
      flex: 0 0 auto;
      display: flex;
      flex-direction: row;
      align-items: center;

      slots {
        flex: 0 0 auto;
        margin-right: map_get($base-padding, 'small');
      }

      ul {
        list-style: none;
        flex: 0 0 auto;
        color: map_get($base-colors, 'secondary-text');
        font-size: map_get($base-font-size, 'small');

        &:first-of-type {
          flex: 1 1 auto;

          li {
            justify-content: flex-start;
          }
        }

        li {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;

          &:not(:first-child) {
            margin-top: map_get($base-padding, 'smallest');
          }

          i {
            width: map_get($base-padding, 'smaller');
          }
        }
      }

      .overflow {
        flex: 0 0 auto;
        position: relative;
        pointer-events: none;
        display: flex;
        flex-direction: row;

        & /deep/ > * {
          pointer-events: auto;
        }
      }
    }

    &.applicant {
      border: transparentize(map_get($base-colors, 'secondary'), 0.5) solid map_get($base-line-widths, 'default');

      .approval-status {
        color: map_get($base-colors, 'secondary');
      }
    }

    .material-icons {
      font-size: map_get($base-font-size, 'default');
    }
  }
}
