<div [routerLink]="['/expeditions', expedition.id]" class="{{getStyleClass()}}" [ngClass]="{applicant: expedition.relations.isAttendee}">
    <emoji [emoji]="expedition.links.icon"></emoji>
    <div class="description">
        <h2>{{expedition.title}}</h2>
        <span>{{expedition.description}}</span>
    </div>
    <footer>
        <ul>
            <li class="owner">
                <span>{{expedition.owner.firstName + ' ' + expedition.owner.lastName}}</span>
            </li>
            <li class="approval-status">
                <span *ngIf="!expedition.relations.isAttendee" i18n>{{formattedAwaitingApproval}}</span>
                <span *ngIf="expedition.relations.isAttendee" i18n>Du bist Teilnehmer</span>
            </li>
        </ul>
        <ul>
            <li class="location">
                <i class="material-icons">place</i>
                <span>{{formattedLocation}}</span>
            </li>
            <li class="date">
                <i class="material-icons">access_time</i>
                <span>{{formattedDate}}</span>
            </li>
        </ul>
    </footer>
    <aside class="overflow" (click)="$event.stopPropagation()">
        <ng-content></ng-content>
    </aside>
</div>
