<div class="card" [routerLink]="['/expeditions', expedition.id]" [ngClass]="{approved: expedition.relations.isApproved}">
	<emoji [emoji]="expedition.links.icon"></emoji>
	<h2>{{expedition.title}}</h2>
	<p>{{expedition.description}}</p>
	<footer>
		<slots [users]="[expedition.owner]" [slots]="expedition.statistics.attendees"></slots>
		<ul>
			<li class="owner">
				<span>{{expedition.owner.firstName + ' ' + expedition.owner.lastName}}</span>
			</li>
			<li class="approval-status">
				<span *ngIf="!expedition.relations.isApproved" i18n>{{formattedAwaitingApproval}}</span>
				<span *ngIf="expedition.relations.isApproved" i18n>Du bist Teilnehmer</span>
			</li>
		</ul>
		<ul>
			<li class="location">
				<i class="fa fa-map-marker"></i>
				<span>{{formattedLocation}}</span>
			</li>
			<li class="date">
				<i class="fa fa-clock-o"></i>
				<span>{{formattedDate}}</span>
			</li>
		</ul>
	</footer>
</div>
