@import '../../variables.scss';

$slot-avatar-size: 2rem;

:host {
  display: block;

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;

    li {
      flex: 0 0 auto;
      position: relative;

      &:not(:first-child) {
        margin-left: - $slot-avatar-size / 2;
      }

      user-avatar {
        width: $slot-avatar-size;
        height: $slot-avatar-size;
      }

      .statistics {
        display: flex;
        width: $slot-avatar-size;
        height: $slot-avatar-size;
        justify-content: center;
        align-items: center;
        border: map_get($base-line-widths, 'default') map_get($base-colors, 'primary') solid;
        background-color: map_get($base-colors, 'background');
        border-radius: $slot-avatar-size / 2;

        span {
          flex: 0 0 auto;
          color: map_get($base-colors, 'secondary-text');
        }
      }
    }
  }
}
