<ul>
	<li class="translation" *ngFor="let takenLanguage of takenLanguages" [@row]>
		<dropdown-menu #menu>
			<menu-item *ngIf="availableLanguages.indexOf('de') >= 0" [title]="'Deutsch'" (click)="switchLanguage(takenLanguage, 'de')"></menu-item>
			<menu-item *ngIf="availableLanguages.indexOf('en') >= 0" [title]="'Englisch'" (click)="switchLanguage(takenLanguage, 'en')"></menu-item>
			<menu-item *ngIf="availableLanguages.indexOf('es') >= 0" [title]="'Spanisch'" (click)="switchLanguage(takenLanguage, 'es')"></menu-item>
			<menu-item *ngIf="availableLanguages.indexOf('fr') >= 0" [title]="'Französisch'" (click)="switchLanguage(takenLanguage, 'fr')"></menu-item>
		</dropdown-menu>
		<styled-button [disabled]="availableLanguages.length == 0" [style]="buttonStyle" (click)="menu.toggle()" [flag]="takenLanguage"></styled-button>
		<input-field [value]="translations[takenLanguage]" (change)="setTranslationText(takenLanguage, $event.target.value)"></input-field>
		<styled-button *ngIf="takenLanguages.length > 1" [fa]="'trash-o'" [style]="buttonStyle" (click)="deleteLanguage(takenLanguage)"></styled-button>
	</li>
</ul>
<styled-button class="add-button" [disabled]="availableLanguages.length == 0" (click)="addLanguage()" [style]="buttonStyle" [text]="'Add Language'"></styled-button><!--TODO i18n-->
