@import '../../variables';

:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  ul {
    li {
      display: flex;
      flex-direction: row;
      position: relative;

      form-control-wrapper {
        flex: 1 1 auto;
      }

      styled-button {
        flex: 0 1 auto;
      }

      dropdown-menu {
        flex: 0 1 auto;
        top: 100%;
      }

      *:not(:last-child) {
        margin-right: map_get($base-padding, 'small');
      }
    }
  }
}
