@import '../../variables.scss';

:host {

  item-wrapper {
    &.disabled {
      opacity: 0.5;
    }

    li {
      padding-top: map_get($base-padding, 'smaller');
      padding-bottom: map_get($base-padding, 'smaller');

      checkbox {
        /deep/ * {
          color: map_get($base-colors, 'background-highlighted');
        }

        &:not(.checked) /deep/ i {
          color: inactive(map_get($base-colors, 'background-highlighted'));
        }
      }
    }
  }
}
