@import '../../variables.scss';
@import "../../mixins.scss";

:host {
  display: flex;
  @include setup-max-width();
  @include setup-default-padding();
  flex-direction: column;

  @include breakpoint('small') {
    flex-direction: row;
    align-items: flex-start;
  }

  & > .card {
    flex: 1 1 auto;

    @include breakpoint('small') {
      flex: 0 0 auto;
      width: 15rem;
    }

    .user {
      cursor: pointer;
      display: flex;
      align-items: center;
      flex-direction: row;

      user-avatar {
        flex: 0 0 auto;
        width: 3rem;
        height: 3rem;
        margin-right: map_get($base-padding, 'smaller');
      }

      div {
        flex: 1 1 auto;

        .name {
          display: block;
        }

        .username {
          display: block;
          font-size: map_get($base-font-size, 'small');
          color: map_get($base-colors, 'secondary-text');
          margin-top: map_get($base-padding, 'smallest');

          &:before {
            content: '@';
          }
        }
      }
    }

    .statistics {
      flex: 1 1 auto;
      display: flex;
      justify-content: space-between;

      @include breakpoint('small') {
        flex-direction: column;
      }

      .cta {
        display: flex;
        justify-content: space-between;

        @include breakpoint('small') {
          margin-top: map_get($base-padding, 'smaller');
        }

        styled-button {
          margin: 0;
          flex: 1 1 auto;

          &:not(:first-child) {
            flex: 0 0 auto;
            margin-left: map_get($base-padding, 'small');
          }
        }
      }
    }
  }

  & > .content {
    flex: 1 1 auto;
    margin-top: map_get($base-padding, 'default');

    @include breakpoint('small') {
      margin-top: 0;
      margin-left: map_get($base-padding, 'default');
    }

    menu {
      margin-bottom: map_get($base-padding, 'default');
    }
  }
}
