<div class="card">
    <div class="user" [routerLink]="['/people', list.owner.username]">
        <user-avatar [user]="list.owner"></user-avatar>
        <div>
            <span class="name">{{list.owner.firstName + ' ' + list.owner.lastName}}</span>
            <span class="username">{{list.owner.username}}</span>
        </div>
    </div>
    <h1>{{list.name}}</h1>
    <div class="statistics">
        <statistics [statistics]="[
			{value: list.statistics.rudel, subject: 'Rudel', link: ['rudel'] },
			{value: list.statistics.likers, subject: 'Liker', link: ['likers'] }
		]"></statistics>
        <div class="cta">
            <styled-button [style]="list.relations.isLiked ? buttonStyleFollowing : buttonStyleDefault"
                    (click)="onToggleFollow(true)" [disabled]="pendingFollowRequest"
                    [text]="list.relations.isLiked ? 'Following' : 'Follow'"></styled-button>
        </div>
    </div>
</div>
<div class="content">
    <menu>
        <menu-item [makeRoomIfSmall]="true" [icon]="'pets'" [title]="'Rudel'" [link]="['rudel']"></menu-item>
        <menu-item [makeRoomIfSmall]="true" [icon]="'people_outline'" [title]="'Likers'"
                [link]="['likers']"></menu-item>
    </menu>
    <router-outlet></router-outlet>
</div>
<modal #modal [title]="'Are you sure to unfollow list?'">
    <question [choices]="modalChoices" [title]="'Are you sure to unfollow list?'"
            [description]='"Du bist der Ersteller dieser Liste. Durch das Entfolgen geht die Liste in den Besitz eines anderen Likers über. Listen ohne andere Liker werden gelöscht. Diese Aktion kann nicht rückgängig gemacht werden."'></question>
</modal>
