<header>
    <logo [shrink]="true"></logo>
    <div class="stretched" *ngIf="userStatus?.loggedIn && userStatus.user.onBoard">
        <div class="search" [ngClass]="{active: inSearchMode}">
            <search-bar #searchBar></search-bar>
            <button class="material-icons" [routerLink]="lastUrl">clear</button>
        </div>
        <div class="menu" [ngClass]="{active: !inSearchMode}">
            <menu>
                <menu-item [makeRoomIfSmall]="true" [icon]="'grain'" [title]="'Entdecken'"
                        [link]="['/explore']"></menu-item>
                <menu-item [makeRoomIfSmall]="true" [icon]="'notifications_none'" [title]="'Meldungen'"
                        [link]="['/notifications']" [notification]="userStatus.user.unreadNotifications > 0"></menu-item>
                <menu-item class="search-menu-item" [icon]="'search'" [title]="'Suche'"
                        [link]="['/search']"></menu-item>
            </menu>
        </div>
    </div>
    <user-avatar *ngIf="userStatus?.loggedIn" [user]="userStatus.user" (click)="dropdownMenu.toggle()"></user-avatar>
    <dropdown-menu #dropdownMenu [arrowAlignment]="'right'">
        <menu-item *ngIf="userStatus.loggedIn && userStatus.user.onBoard" [icon]="'person_outline'" [title]="'Dein Profil'"
                [link]="['/user', userStatus.user.username, 'rudel']"></menu-item>
        <menu-item *ngIf="userStatus.loggedIn && userStatus.user.onBoard" [icon]="'event_available'" [title]="'Deine Streifzüge'" [link]="['/expeditions']"></menu-item>
       <!-- <menu-item *ngIf="userStatus.loggedIn && userStatus.user.onBoard" [icon]="'format_list_bulleted'"
                [title]="'Deine Listen'" [link]="['/user', userStatus.user.username, 'lists']"></menu-item>-->
        <menu-item [icon]="'settings'" [title]="'Einstellungen'" [link]="['/settings']"></menu-item>
        <menu-item [icon]="'exit_to_app'" [title]="'Abmelden'" (click)="signOut()"></menu-item>
    </dropdown-menu>
</header>
<section infinite-scroll (scrolled)="scrolledToBottom($event)" [scrollWindow]="false">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</section>
